::ng-deep .modal ::-webkit-scrollbar {
width: 10px;
}
::ng-deep .modal ::-webkit-scrollbar-track {
background: white;
}
::ng-deep .modal ::-webkit-scrollbar-thumb {
background: #48afd8;
}
::ng-deep .modal ::-webkit-scrollbar-thumb:hover {
background: #48afd8;
}
.requestcallbackModal.modal-body{
overflow-y: auto;
background-color: #fff;
}
.close{
float: right;
font-size: 1.5rem;
font-weight: 700;
line-height: 1;
color: #000;
text-shadow: 0 1px 0 #fff;
opacity: .5;
padding: 0;
background-color: transparent;
border: 0;
}
ul.list-ticks {
list-style: none;
margin-left: 1em;
}
ul.list-ticks li {
text-indent: -1em;
}
ul.list-ticks li:before {
content: '✓';
}
mat-form-field{
width:100%;
}
.evapolar_color{
color:#00bb5a;
}
.evapolar_bgcolor{
color: #000;
border: 1px solid #e1e1e1;
}
.verticle_align_center{
display:flex;
align-items: center;
}
ul.coolingsol {
list-style-position: outside;
margin-left:1em;
}
.unlock_bg{
background-image:url('../../../assets/images/home/unlock1.jpg');
background-size:cover;
background-repeat:no-repeat;
}
.embed-responsive-item{
height:300px;
}

.post {   
position:relative;
}
.post_container {
position: relative;
text-align:center;
}
.top-icon {
background: #00bb5a;
position: absolute; 
transform: translate(-50%, -100%);
left:50%;
}

.bsb-blockquote-icon {
--bsb-blockquote-icon: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2716%27 height=%2716%27 fill=%27currentColor%27 class=%27bi bi-quote%27%3E%3Cpath d=%27M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z%27/%3E%3C/svg%3E");
--bsb-blockquote-icon-opacity: 0.1;
position: relative;
z-index: 1
}

.bsb-blockquote-icon.bsb-blockquote-icon-2 {
--bsb-blockquote-icon: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2716%27 height=%2716%27 fill=%27currentColor%27 class=%27bi bi-chat-quote%27%3E%3Cpath d=%27M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z%27/%3E%3Cpath d=%27M7.066 6.76A1.665 1.665 0 0 0 4 7.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 0 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 7.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 0 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z%27/%3E%3C/svg%3E")
}

.bsb-blockquote-icon:before {
background-image: var(--bsb-blockquote-icon);
background-position: 50%;
background-repeat: no-repeat;
background-size: cover;
content: "";
height: 64px;
left: -1rem;
opacity: var(--bsb-blockquote-icon-opacity);
position: absolute;
top: -1rem;
width: 64px;
z-index: -1
}

.bsb-btn-xl {
--bs-btn-padding-y: 0.625rem;
--bs-btn-padding-x: 1.25rem;
--bs-btn-font-size: calc(1.26rem + 0.12vw);
--bs-btn-border-radius: var(--bs-border-radius-lg)
}

@media(min-width:1200px) {
.bsb-btn-xl {
--bs-btn-font-size: 1.35rem
}
}

.bsb-btn-2xl {
--bs-btn-padding-y: 0.75rem;
--bs-btn-padding-x: 1.5rem;
--bs-btn-font-size: calc(1.27rem + 0.24vw);
--bs-btn-border-radius: var(--bs-border-radius-lg)
}

@media(min-width:1200px) {
.bsb-btn-2xl {
--bs-btn-font-size: 1.45rem
}
}

.bsb-btn-3xl {
--bs-btn-padding-y: 0.875rem;
--bs-btn-padding-x: 1.75rem;
--bs-btn-font-size: calc(1.28rem + 0.36vw);
--bs-btn-border-radius: var(--bs-border-radius-lg)
}

@media(min-width:1200px) {
.bsb-btn-3xl {
--bs-btn-font-size: 1.55rem
}
}

.bsb-btn-4xl {
--bs-btn-padding-y: 1rem;
--bs-btn-padding-x: 2rem;
--bs-btn-font-size: calc(1.29rem + 0.48vw);
--bs-btn-border-radius: var(--bs-border-radius-lg)
}

@media(min-width:1200px) {
.bsb-btn-4xl {
--bs-btn-font-size: 1.65rem
}
}

.bsb-btn-5xl {
--bs-btn-padding-y: 1.125rem;
--bs-btn-padding-x: 2.25rem;
--bs-btn-font-size: calc(1.3rem + 0.6vw);
--bs-btn-border-radius: var(--bs-border-radius-lg)
}

@media(min-width:1200px) {
.bsb-btn-5xl {
--bs-btn-font-size: 1.75rem
}
}

.bsb-ratings {
--bsb-star-off: #ddd
}

.bsb-ratings[data-bsb-star="1"]:before {
content: "★"
}

.bsb-ratings[data-bsb-star="2"]:before {
content: "★★"
}

.bsb-ratings[data-bsb-star="3"]:before {
content: "★★★"
}

.bsb-ratings[data-bsb-star="4"]:before {
content: "★★★★"
}

.bsb-ratings[data-bsb-star="5"]:before {
content: "★★★★★"
}

.bsb-ratings[data-bsb-star-off="1"]:after {
color: var(--bsb-star-off);
content: "★"
}

.bsb-ratings[data-bsb-star-off="2"]:after {
color: var(--bsb-star-off);
content: "★★"
}

.bsb-ratings[data-bsb-star-off="3"]:after {
color: var(--bsb-star-off);
content: "★★★"
}

.bsb-ratings[data-bsb-star-off="4"]:after {
color: var(--bsb-star-off);
content: "★★★★"
}

.bsb-ratings[data-bsb-star-off="5"]:after {
color: var(--bsb-star-off);
content: "★★★★★"
}
.example-accordion {
display: block;
max-width: 100%;
}

.example-accordion-item {
display: block;
border: solid 1px #ccc;
}

.example-accordion-item + .example-accordion-item {
border-top: none;
}

.example-accordion-item-header {
display: flex;
align-content: center;
justify-content: space-between;
}

.example-accordion-item-description {
font-size: 0.85em;
color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
padding: 20px;
}

.example-accordion-item-header:hover {
cursor: pointer;
background-color: #eee;
}

.example-accordion-item:first-child {
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}
.box {
display:inline-block;
height: 14px;
width: 8%;
border: none;
clear: both;
}
.box-first{
border-top-left-radius: 2em;
border-bottom-left-radius: 2em;
}
.box-last{
border-top-right-radius: 2em;
border-bottom-right-radius: 2em;
}
.sky-blue {
background-color: #00bb5b;
}
.grey {
background-color: #eef1f7;
}
	.banner-section{
		background-image: url('../../../assets/images/home/bannerBG_org.jpg');
		background-repeat:no-repeat;
		background-size:100% 100%;
	}

::ng-deep .cdk-overlay-container {
z-index: 9999;
}
[data-star] {
text-align:left;
font-style:normal;
display:inline-block;
position: relative;
unicode-bidi: bidi-override;
font-size: x-large;
}
[data-star]::before { 
display:block;
content: '★★★★★';
color: #afafaf;
}
[data-star]::after {
white-space:nowrap;
position:absolute;
top:0;
left:0;
content: '★★★★★';
width: 0;
color: #ff8c00;
overflow:hidden;
height:100%;
}
[data-star^="4.8"]::after{width:93%}

@media (max-width: 576px) {
.font-size-flex{
font-size: 1.5rem;
}
.w-sm-100{
width:100% !important
}
}
@media (min-width: 576px) {
.font-size-flex{
font-size: 2.5rem;
}
}
@media (min-width: 768px) {
.font-size-flex{
font-size: 0.8rem;
}
.step-box {
display: flex;
flex-direction: column;
align-items: center;
padding: 0;
gap: 20px;
}
.box-card {
max-width: 204px;
height: auto;
width: 100%;
}
.box-card:not(:first-child) {
border-left: 2px solid #083f83!important;
padding-left: 25px!important;
}

.step-box-why {
display: flex;
flex-direction: column;
align-items: center;
padding: 0;
gap: 20px;
}
.box-card-why {
height: auto;
width: 100%;
}
.box-card-why:not(:first-child) {
border-left: 2px solid #083f83!important;
padding-left: 25px!important;
}
.underlined {
  position: relative;
}
.underlined:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  height: 25px;
  width: 80%;
  border: solid 4px #00bb5b;
  border-color: #00bb5b transparent transparent transparent;
  border-radius: 100%;
}
.font-size-h1{
font-size: 2rem;
}
.font-size-2{
font-size: 0.9rem;
}
.energylh{
line-height:1.4;
}
}
@media (min-width: 992px) {
.font-size-flex{
font-size: 1.4rem;
}
}
@media (min-width: 1200px) {
.font-size-flex{
font-size: 2rem;
}
}
@media (min-width: 1400px) {
.font-size-flex{
font-size: 2.5rem;
}
}
@media (max-width: 768px) {
.step-box{
padding:0;
gap:16px;
width:204px!important;
display:flex;
align-items:center;
flex-direction: column;
text-align:center;
}
.box-card:not(:first-child) {
border-left: none!important;
padding-left: 0!important;
margin:0;
}
.parent-container {
flex-direction: column !important;
}
.advantage{
text-align:center;
}
.step-box-why{
padding:0;
gap:16px;
width:204px!important;
display:flex;
align-items:center;
flex-direction: column;
text-align:center;
}
.box-card-why:not(:first-child) {
border-left: none!important;
padding-left: 0!important;
margin:0;
}
.parent-container-why {
flex-direction: column !important;
}
.font-size-h1{
font-size: calc(1.325rem + .9vw);
}
.same-width{
width:90%;
}
.font-size-2{
font-size: 0.68rem;
}
.energylh{
line-height:0.89;
}
}
@media (max-width: 480px) {
.sustainableimg{
width:30%;
}
.energylh{
line-height:0.89;
}
}
@media (min-width: 481px) {
.sustainableimg{
width:24%;
}
}
@media (max-width: 364px) {
.min-height-box{
min-height:65px;
}
}
.parent-container {
display: flex!important;
flex-direction: row;
align-items: center;
justify-content: space-between;
gap: 24px;
width: 100%;
}

.parent-container-why {
display: flex!important;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 24px;
width: 100%;
}
::ng-deep .mat-mdc-text-field-wrapper{
border-radius: 15px !important;
background-color: transparent !important;
border: 1px solid #fff !important;
}

::ng-deep .costsavingscalcModal .mdc-text-field--filled:not(.mdc-text-field--disabled) {
border-radius: 15px !important;
background-color: #fff !important;
border: 1px solid #fff !important;
}


::ng-deep .enquiryForm .mdc-text-field--filled:not(.mdc-text-field--disabled) {
border-radius: 15px !important;
background-color: #083f83 !important;
border: 1px solid #fff !important;
}
::ng-deep .mat-mdc-form-field-subscript-wrapper {
width:inherit !important;
}
::ng-deep .mat-mdc-form-field-focus-overlay{
background-color:transparent !important;
}
::ng-deep .mat-mdc-form-field-bottom-align::before{
background-color:transparent !important;
}

::ng-deep .enquiryForm .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above{
color: #ababab !important;
}
::ng-deep .mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
border:none;
}
::ng-deep .mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::after{
border:none;
}
::ng-deep .enquiryForm .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input{
color: #fff !important;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input{
caret-color: #fff !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label{
color: #fff;
}
::ng-deep .mat-mdc-select{
color: #000 !important;
}
::ng-deep .mat-input-element{
color: #fff !important;
}
::ng-deep .mat-mdc-select-arrow {
color: #fff !important;
}
.font-family-1{
font-family: Helvetica!important;
}
::ng-deep .mat-form-field{
font-family: Helvetica!important;
}
.font-helvetica-neue{
font-family: Helvetica Neue,Helvetica;
}
.bookfree_error{
	color:#fcc5f8;
}
::ng-deep  .mdc-line-ripple {
  display:none !important;
}
::ng-deep .enquiryForm .mat-mdc-select-min-line{
	color:#ababab !important;
}
::ng-deep .modal-content{
	font-family:helvetica !important;
}
.submitbtn{
color: #1861a3;
background-color: #fff;
border-color: #fff;
cursor: pointer;
}