<section class="banner-section pt-0 mb-0 font-family-1">
<div class="container-fluid">
<div class="row align-items-center pt-4 pt-md-0">
<div class="col-md-6 col-xl-6 col-sm-11 offset-md-1 offset-xl-1 px-md-2 px-2">
<div class="mx-md-0 mx-3">
<h1 class="text-start d-block fw-normal mt-2 font-size-h1 mb-0" style="color:#083f83;">Industrial Ventilation</h1>
<h1 class="text-start d-block mt-0 font-size-h1" style="color:#083f83;font-weight:800;">& Air-Cooling Solutions</h1>
<!--<p class="mb-0"><span style="text-decoration:underline dotted red;cursor:pointer;" (click)="reviewsCallbackFun()">Click here</span> to review Client Testimonial</p>
<p class="mb-0"><i class="fa fa-hand-o-right"></i> Review <span style="text-decoration:underline dotted red;cursor:pointer;" (click)="caseStudiesCallbackFun()">Case Studies</span></p>
<p style="line-height: 1;">Our Google rating is 4.8 <i data-star="4.8"></i></p>-->
<h1 class="text-start d-block fw-bolder mt-4 mt-md-5 mb-2" style="color:#000;font-size:1.1rem;">Boost Productivity With</h1>
<div class="d-flex align-items-end">
<img src="./assets/images/home/sustainable.png" alt="Eco Friendly" class="me-2 sustainableimg" align="top"/>
<h6 class="d-inline-block mb-0 energylh" style="color:#000;font-size:1.1rem;font-weight:500;"> & Energy Efficient Cooling</h6>
</div>
</div>
<div class="row mb-4 mt-4">
<div class="col-md-12 col-xl-12 col-sm-12 d-flex flex-row">
<div class="card mb-2 ps-2" style="border:1px solid #00bb5b;border-radius:0;float:left;">
<div class="card-body px-2 py-2">
<div class="d-flex">
<div class="flex-grow-1 me-3" style="white-space: break-spaces;overflow: hidden;text-overflow: ellipsis;">
<p class="mb-0 font-size-2 min-height-box" style="color:#083f83;">Savings in Running<br>Cost upto</p>
</div>
<div class="flex-shrink-0 align-self-center">
<p class="mb-0 fw-bold font-size-flex" style="color:#083f83;">90%</p>
</div>
</div>
</div>
</div>
<div class="card mb-2 ps-2" style="border:1px solid #00bb5b;border-radius:0;float:left;">
<div class="card-body px-2 py-2">
<div class="d-flex">
<div class="flex-grow-1 me-3" style="white-space: break-spaces;overflow: hidden;text-overflow: ellipsis;">
<p class="mb-0 font-size-2 min-height-box" style="color:#083f83;">Reduction in ambient<br>temperature upto</p>
</div>
<div class="flex-shrink-0 align-self-center">
<p class="mb-0 fw-bold font-size-flex" style="color:#083f83;">15&#176;C</p>
</div>
</div>
</div>
</div>
</div>
</div>
<!--<button class="btn btn-blue mt-3 w-50 mb-2 mt-5 rounded-5" type="button" (click)="requestCallbackFun()">Get a call back in minutes</button>-->
</div>
<div class="col-md-5 col-xl-5 col-sm-12 px-0">
<owl-carousel-o [options]="bannerOptions">
<ng-template carouselSlide>
<img class="img-fluid" src="assets/images/home/bannerimage4.webp" alt="EVAPOLER COOLING SYSTEM ENGINEER" style="width:100%;" />
</ng-template>
<ng-template carouselSlide>
<img class="img-fluid" src="assets/images/home/bannerimage2.webp" alt="EVAPOLER COOLING SYSTEM ENGINEER" style="width:100%;" />
</ng-template>
<ng-template carouselSlide>
<img class="img-fluid" src="assets/images/home/bannerimage3.webp" alt="EVAPOLER COOLING SYSTEM ENGINEER" style="width:100%;" />
</ng-template>
</owl-carousel-o>		
<!--<img src="assets/images/home/bannerimage.jpg" alt="EVAPOLER COOLING SYSTEM ENGINEER" style="width:100%;height:492px;" class="ms-auto d-none d-md-block d-lg-block d-xl-block" />
<img src="assets/images/home/bannerImageMobile.webp" alt="EVAPOLER COOLING SYSTEM ENGINEER" style="width:100%;height:353px;" class="d-block d-sm-block d-md-none" />-->
</div>
</div>
</div>
</section>
<section class="faq-section py-5 mb-0 font-family-1" id="freesitevisit" style="background-color:#083f83;">
<div class="container">			
<div class="row mt-5">
<div class="col-md-8 col-lg-8 col-xl-8 col-sm-12">
<h2 class="d-block text-white fw-bold fs-1 mb-4">Book a FREE site visit now to assess your cooling needs</h2>
</div>
</div>
<div class="row">
<div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
<p class="d-block text-white fs-5 text-center">Pan India Installation & Service</p>
</div>
</div>
<div [formGroup]="enquiryForm" class="mb-5 enquiryForm">
<div class="row mb-md-4 mb-0" [ngClass]="((enquiryForm.get('mobile_number')?.touched) && (enquiryForm.get('mobile_number')?.hasError('required') || (enquiryForm.get('mobile_number')?.errors?.['CHECK_DIGIT_FAILED']==true || enquiryForm.get('mobile_number')?.errors?.['CHECK_MOBILE_FAILED']==true || enquiryForm.get('mobile_number')?.hasError('minlength') || enquiryForm.get('mobile_number')?.hasError('maxlength') ))) ? 'mb-4':''">
<div class="col-md-6 col-xl-6 col-sm-12">
<mat-form-field appearance="fill">
<mat-label>Name</mat-label>
<input matInput placeholder="" formControlName="name">
<mat-error *ngIf="enquiryForm.get('name')!.hasError('required')" class="bookfree_error">Please enter name</mat-error>
</mat-form-field>
</div>
<div class="col-md-6 col-xl-6 col-sm-12">
<mat-form-field appearance="fill">
<mat-label>Mobile Number</mat-label>
<input matInput placeholder="" formControlName="mobile_number" maxlength="10">
<mat-error *ngIf="enquiryForm.get('mobile_number')?.hasError('required') || (enquiryForm.get('mobile_number')?.errors?.['CHECK_DIGIT_FAILED']==true || enquiryForm.get('mobile_number')?.errors?.['CHECK_MOBILE_FAILED']==true || enquiryForm.get('mobile_number')?.hasError('minlength') || enquiryForm.get('mobile_number')?.hasError('maxlength') )" class="bookfree_error">Please enter valid 10 digit number starting with 5,6,7,8 or 9</mat-error>
</mat-form-field>
</div>
</div>
<div class="row mb-md-4 mb-0">
<div class="col-md-6 col-xl-6 col-sm-12">
<mat-form-field appearance="fill">
<mat-label>Email ID</mat-label>
<input type="email" matInput formControlName="emailId" placeholder="">
<mat-error *ngIf="enquiryForm.get('emailId')?.hasError('required')" class="bookfree_error">Email
address is required</mat-error>
<mat-error *ngIf="enquiryForm.get('emailId')?.hasError('pattern')" class="bookfree_error">Please
enter valid email address</mat-error>
</mat-form-field>
</div>
<div class="col-md-6 col-xl-6 col-sm-12">
<mat-form-field appearance="fill">
<mat-label>Company Name</mat-label>
<input matInput placeholder="" formControlName="company_name">
<mat-error
*ngIf="enquiryForm.get('company_name')!.hasError('required')" class="bookfree_error">Please
enter company name</mat-error>
</mat-form-field>
</div>
</div>
<div class="row mb-md-4 mb-0">
<div class="col-md-6 col-xl-6 col-sm-12 order-2 order-lg-1">
<mat-form-field appearance="fill">
<mat-label>Message (optional)</mat-label>
<textarea matInput placeholder="" formControlName="message" rows="1"></textarea>
</mat-form-field>
</div>
<div class="col-md-6 col-xl-6 col-sm-12 order-1 order-lg-2">
<mat-form-field appearance="fill">
<mat-select formControlName="application">
<mat-option value="">Application*</mat-option>
<mat-option value="Manufacturing Facility">Manufacturing Facility</mat-option>
<mat-option value="Industry">Industry</mat-option>
<mat-option value="Factory">Factory</mat-option>
<mat-option value="Warehouse">Warehouse</mat-option>
<mat-option value="Educational Institutes">Educational Institutes</mat-option>
<mat-option value="Commercial Kitchens">Commercial Kitchens</mat-option>
<mat-option value="Electric Panel Rooms">Electric Panel Rooms</mat-option>
<mat-option value="Army Barracks">Army Barracks</mat-option>
<mat-option value="Hospitals">Hospitals</mat-option>
<mat-option value="Others">Others</mat-option>
</mat-select>
</mat-form-field>
</div>
</div>
<div class="row">
<div class="col-md-6 col-xl-6 col-sm-12">
<!--<button type="submit" class="px-4 btn btn-white rounded-4 d-block" [disabled]="enquiryForm['invalid']"
>Submit</button>-->
<button type="button" class="px-5 btn btn-white rounded-5 d-block fw-bold btn-lg submitbtn" (click)="submitBookingFun('book_a_freesite')" [disabled]="enquiryForm['invalid']"><span [innerHTML]="Submit_book_a_freesite"></span></button>
</div>
</div>
</div>
<!--<div class="row mb-0">
<div class="col-md-4 col-xl-4 col-sm-12">
<div class=" p-2 text-center mb-2 mb-sm-0">
<i class="fa fa-envelope-o" aria-hidden="true" style="font-size:1.5rem"></i>
<div class="">
<h5 class="" style="font-size:1rem"><a href="mailto:info@evapoler.com">info@evapoler.com</a></h5>
</div>
</div>
</div>
<div class="col-md-4 col-xl-4 col-sm-12">
<div class="p-2 text-center">
<i class="fa fa-map-marker" aria-hidden="true" style="font-size:1.5rem"></i>
<div class="">
<h5 class="" style="font-size:1rem">Pan India Installation & Service</h5>
</div>
</div>
</div>
</div>-->
</div>
</section>
<section class="faq-section pt-4 mb-0 font-family-1">
<div class="container">
<div class="row justify-content-center mb-4">
<div class="col-md-12 col-xl-12 col-sm-12">	
<div class="card p-2 border-0">		
<a id="about_evapolar"></a>			
<div class="row mt-2">
<div class="col-12 col-md-6 col-lg-6">
<h3 class="text-center d-block fw-bold fs-4" style="color:#083f84;">5 Common Questions Every Client Asks Us</h3>
<cdk-accordion class="example-accordion mb-1 mt-md-2">
<cdk-accordion-item *ngFor="let item of item5CQ; let index = index;" class="example-accordion-item" style="border:none;">
<div class="example-accordion-item-header" style="font-size: 1em;cursor: default;background-color: #fff;padding: 8px;text-indent:-1em;padding-left:1em;">
{{ item['key'] }}
</div>
</cdk-accordion-item>
</cdk-accordion>
</div>
<div class="col-12 col-md-6 col-lg-6">
<h3 class="text-center d-block fw-bold fs-4 mb-3" style="color:#083f84;">Watch How It's Done</h3>
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://youtube.com/embed/5HRLzNVFwaM" srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://youtube.com/embed/5HRLzNVFwaM><img src=assets/images/home/watch_how_its_done.jpg alt=''><span></span></a>"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen width="100%" style="height: 250px;"></iframe>
</div>
</div>
</div>
</div>
</div>
</div>	
</div>
</section>
<section class="faq-section py-5 mb-0 font-family-1" style="background-color:#ecf2ff;">
<div class="container">
<div class="row mt-2 mb-4">
<div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
<h2 class="fw-bold fs-2 advantage text-center" style="color:#083f84;">The Evapoler Advantage</h2>
</div>
</div>
<div class="row mb-4 mt-0 justify-content-center">
<div class="col-md-12 col-lg-12">
<div class="parent-container">
<div class="box-card">
<div class="step-box">
<img src="./assets/images/home/evapoleradvantage/EnergySaving.jpg" width="112" height="112" alt="Energy Saving solution icon">
<div>
<p class="mb-0 fw-bold" style="font-size:1.2em;color: #083f84;">Energy</p>
<p class="mb-0" style="font-size:0.9em;color: #083f84;">Saving</p>
</div>
</div>
</div>


<div class="box-card">
<div class="step-box">
<img src="./assets/images/home/evapoleradvantage/CustomSolutions.jpg" width="112" height="112" alt="Air Cooling Custom Solutions">
<div>
<p class="mb-0 fw-bold" style="font-size:1.2em;color: #083f84;">Innovative</p>
<p class="mb-0" style="font-size:0.9em;color: #083f84;">Customized Solutions</p>
</div>
</div>
</div>



<div class="box-card">
<div class="step-box">
<img src="./assets/images/home/evapoleradvantage/WarrantyTerms.jpg" width="112" height="112" alt="Best in Class Warranty Terms icon">
<div>
<p class="mb-0 fw-bold" style="font-size:1.2em;color: #083f84;">Best in Class</p>
<p class="mb-0" style="font-size:0.9em;color: #083f84;">Warranty Terms</p>
</div>
</div>
</div>


<div class="box-card">
<div class="step-box">
<img src="./assets/images/home/evapoleradvantage/Service.jpg" width="112" height="112" alt="After Sales icon">
<div>
<p class="mb-0 fw-bold" style="font-size:1.2em;color: #083f84;">Prompt After Sales</p>
<p class="mb-0" style="font-size:0.9em;color: #083f84;">Service</p>
</div>
</div>
</div>


<div class="box-card">
<div class="step-box">
<img src="./assets/images/home/evapoleradvantage/1.jpg" width="112" height="112" alt="Reliability air cooling systems image">
<div>
<p class="mb-0 fw-bold" style="font-size:1.2em;color: #083f84;">Reliable</p>
<p class="mb-0" style="font-size:0.9em;color: #083f84;">Engineering</p>
</div>
</div>
</div>




</div>
</div>
</div>


<div class="row mb-4 mt-0 justify-content-center">
<div class="col-md-12 col-lg-12">
<div class="parent-container">

<div class="box-card">

</div>


<div class="box-card" style="border-left:0px !important;">
<div class="step-box">
<img src="./assets/images/home/evapoleradvantage/FreshClean.jpg" width="112" height="112" alt="Fresh, Clean Air Flow image">
<div>
<p class="mb-0 fw-bold" style="font-size:1.2em;color: #083f84;">Fresh & Clean</p>
<p class="mb-0" style="font-size:0.9em;color: #083f84;">Air Flow</p>
</div>
</div>
</div>


<div class="box-card">
<div class="step-box">
<img src="./assets/images/home/evapoleradvantage/LowMaintenance.jpg" width="112" height="112" alt="Low Maintenance icon">
<div>
<p class="mb-0 fw-bold" style="font-size:1.2em;color: #083f84;">Low</p>
<p class="mb-0" style="font-size:0.9em;color: #083f84;">Maintenance</p>
</div>
</div>
</div>

<div class="box-card">
<div class="step-box">
<img src="./assets/images/home/evapoleradvantage/ZeroEmmission.jpg" width="112" height="112" alt="Net Zero Carbon Emission icon">
<div>
<p class="mb-0 fw-bold" style="font-size:1.2em;color: #083f84;"><!--Net Zero Carbon--> Net Zero Carbon</p>
<p class="mb-0" style="font-size:0.9em;color: #083f84;">Emission</p>
</div>
</div>
</div>

<div class="box-card">

</div>

</div>
</div>
</div>

</div>
</section>
<section class="faq-section py-4 mb-4 font-family-1" id="products" style="background-color:#fff;">
<div class="container">	
<div class="row mt-2">
<div class="col-md-12 col-lg-12">
<h2 class="fw-bold fs-2 text-center" style="color:#083f84;">Introducing Sustainable Cooling Solutions</h2>
<p class="text-center text-white">
For Heavy-duty Usage Across Industrial and Commercial Applications. 
</p>
</div>
</div>


<div class="row mt-2 justify-content-center" myMatchHeight="download_catalog">
<div class="col-md-4">
<div class="card mb-2 mb-sm-0" style="border:none;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
<img src="./assets/images/home/products/DirectEvaporativeCooling.jpg" class="card-img-top" alt="Direct Evaporative Cooling">
<div class="card-body" style="background-color:#fff">
<h3 class="card-title text-center" style="font-size:1.25rem">Direct Evaporative<br>Cooling</h3>
<div class="card-text mb-4">
<p class="mb-0 download_catalog fst-italic text-center" style="color:#083f83;">For dry & hot climate</p>
<!--<b>Key Benefits:</b>
<ul  class="coolingsol p-0 text-justify download_catalog mb-0">
<li>Energy Efficient</li>
<li>Eco-friendly</li>
<li>Improves Productivity and IAQ</li>
</ul>-->
<!--<div class="bg-white p-2 rounded-3 mt-1 fw-bold" style="border:none;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">	
<p class="mb-0">Savings in Running Cost 90%</p>
<div class='box box-first sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box box-last grey'></div>

<p class="mt-3 mb-0">Savings in Carbon-Footprint  90%</p>
<div class='box box-first sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box box-last grey'></div>
</div>-->


</div>
<a target="_blank" href="https://www.evapoler.com/product-category/direct-evaporative-air-cooling-system-single-stage/" class="btn btn-blue d-inline-block mx-auto">View DEC Coolers <i class="fa fa-external-link"></i></a>
<a href="assets/images/home/catalogue/Evapoler HSCU Catalogue 2023-1.pdf" download class="float-end" style="line-height:2.2;"><img src="assets/images/home/pdf.png" class="img-fluid" alt="Direct Evaporative Cooling Details/Specs" title="Direct Evaporative Cooling Details/Specs" /></a>
</div>
</div>
</div>
<div class="col-md-4">
<div class="card mb-2 mb-sm-0" style="border:none;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
<img src="./assets/images/home/products/IndirectEvaporativeCooling.jpg" class="card-img-top" alt="Indirect Evaporative Cooling">
<div class="card-body" style="background-color:#fff">
<h3 class="card-title text-center" style="font-size:1.25rem">Indirect Evaporative<br>Cooling</h3>
<div class="card-text mb-4">
<p class="mb-0 download_catalog fst-italic text-center" style="color:#083f83;">For dry cooling - without any increase in moisture level</p>
<!--<b>Key Benefits:</b>
<ul  class="coolingsol p-0 text-justify download_catalog mb-0">
<li>2-Stage Evaporative Cooling</li>
<li>Dry Cooling- No moisture addition in first stage</li>
<li>5° C Better Cooling than Direct Evaporative Cooling</li>
</ul>-->
<!--<div class="bg-white p-2 rounded-3 mt-1 fw-bold" style="border:none;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">	
<p class="mb-0">Savings in Running Cost 80%</p>
<div class='box box-first sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box grey me-1'></div>
<div class='box box-last grey'></div>

<p class="mt-3 mb-0">Savings in Carbon-Footprint  80%</p>
<div class='box box-first sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box grey me-1'></div>
<div class='box box-last grey'></div>
</div>-->

</div>
<a target="_blank" href="https://www.evapoler.com/product-category/indirect-evaporative-air-cooling-two-stage-cooling/" class="btn btn-blue d-inline-block">View IDEC Coolers <i class="fa fa-external-link"></i></a>
<a href="assets/images/home/catalogue/IDEC CATALOGUE.pdf" download class="float-end" style="line-height:2.2;"><img src="assets/images/home/pdf.png" class="img-fluid" alt="Indirect Evaporative Cooling Details/Specs" title="Indirect Evaporative Cooling Details/Specs" /></a>
</div>
</div>
</div>
<div class="col-md-4">
<div class="card" style="border:none;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
<img src="./assets/images/home/products/HybridAirConditioning.jpg" class="card-img-top" alt="Hybrid Air Conditioning">
<div class="card-body" style="background-color:#fff">
<h3 class="card-title text-center" style="font-size:1.25rem">Hybrid Air<br>Conditioning</h3>
<div class="card-text mb-4">
<p class="mb-0 download_catalog fst-italic text-center" style="color:#083f83;">For providing uniform cooling & a greener alternative to AHUs / ACs</p>
<!--<b>Key Benefits:</b>
<ul  class="coolingsol p-0 text-justify download_catalog mb-0">
<li>Provides Uniform Cooling Throughout the Year</li>
<li>Quick Payback Period</li>
<li>Greener Alternative to AHUs/Air Conditioners</li>
</ul>-->

<!--<div class="bg-white p-2 rounded-3 mt-1 fw-bold" style="border:none;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">	
<p class="mb-0">Savings in Running Cost 70%</p>
<div class='box box-first sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box grey me-1'></div>
<div class='box grey me-1'></div>
<div class='box box-last grey'></div>

<p class="mt-3 mb-0">Savings in Carbon-Footprint  70%</p>
<div class='box box-first sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box grey me-1'></div>
<div class='box grey me-1'></div>
<div class='box box-last grey'></div>
</div>-->

</div>
<a target="_blank" href="https://www.evapoler.com/product-category/hybrid-air-conditioning/" class="btn btn-blue d-inline-block">View Hybrid ACs <i class="fa fa-external-link"></i></a>
<a href="assets/images/home/catalogue/HYBRID BROCHURE 2023-3.pdf" download class="float-end" style="line-height:2.2;"><img src="assets/images/home/pdf.png" class="img-fluid" alt="Hybrid Air Conditioning Details/Specs" title="Hybrid Air Conditioning Details/Specs" /></a>
</div>
</div>
</div>
</div>
<div class="row mt-2 justify-content-center"  myMatchHeight="download_catalog_1">
<div class="col-md-4">
<div class="card mb-2 mb-sm-0" style="border:none;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
<img src="./assets/images/home/products/IndustrialDuctablecooler.jpg" class="card-img-top" alt="Industrial Ductable Coolers" />
<div class="card-body" style="background-color:#fff">
<h3 class="card-title text-center" style="font-size:1.25rem">Industrial Ductable<br>Coolers</h3>
<div class="card-text mb-4">
<p class="mb-0 download_catalog_1 fst-italic text-center" style="color:#083f83;">For cooling large areas effectively and economically (based on DEC)</p>
<!--<b>Key Benefits:</b>
<ul  class="coolingsol p-0 text-justify download_catalog_1 mb-0">
<li>Cools Large Areas Effectively and Economically</li>
<li>Noiseless Operation</li>
<li>Low Maintenance Cost</li>
</ul>-->
<!-- <div class="bg-white p-2 rounded-3 mt-1 fw-bold" style="border:none;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">	
<p class="mb-0">Savings in Running Cost 90%</p>
<div class='box box-first sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box box-last grey'></div>

<p class="mt-3 mb-0">Savings in Carbon-Footprint  90%</p>
<div class='box box-first sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box box-last grey'></div>
</div> -->

</div>
<a target="_blank" href="https://www.evapoler.com/product-category/industrial-ductable-cooler/" class="btn btn-blue d-inline-block">View Industrial Coolers <i class="fa fa-external-link"></i></a>
<a href="assets/images/home/catalogue/LSCU CATALOGUE 2023-01-23.pdf" download class="float-end" style="line-height:2.2;"><img src="assets/images/home/pdf.png" class="img-fluid" alt="Industrial Ductable Coolers Details/Specs" title="Industrial Ductable Coolers Details/Specs" /></a>
</div>
</div>
</div>
<div class="col-md-4">
<div class="card mb-2 mb-sm-0" style="border:none;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
<img src="./assets/images/home/products/IndustrialPortableCooler.jpg" class="card-img-top" alt="Industrial Portable Coolers">
<div class="card-body" style="background-color:#fff">
<h3 class="card-title text-center" style="font-size:1.25rem">Industrial Portable<br>Coolers</h3>
<div class="card-text mb-4">
<p class="mb-0 download_catalog_1 fst-italic text-center" style="color:#083f83;">Economical plug & play coolers for warehouses and factories</p>
<!--<b>Key Benefits:</b>
<ul  class="coolingsol p-0 text-justify download_catalog_1 mb-0">
<li>Plug-and-Play</li>
<li>Robust Castor Wheels for Easy Movement</li>
<li>Large Water Tank</li>
</ul>-->
<!-- <div class="bg-white p-2 rounded-3 mt-1 fw-bold" style="border:none;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">	
<p class="mb-0">Savings in Running Cost 90%</p>
<div class='box box-first sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box box-last grey'></div>

<p class="mt-3 mb-0">Savings in Carbon-Footprint  90%</p>
<div class='box box-first sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box sky-blue me-1'></div>
<div class='box box-last grey'></div>
</div> -->

</div>
<a target="_blank" href="https://www.evapoler.com/product-category/industrial-portable-cooler/" class="btn btn-blue d-inline-block">View Portable Coolers <i class="fa fa-external-link"></i></a>
<a href="assets/images/home/catalogue/LSCU CATALOGUE 2023-01-23.pdf" download class="float-end" style="line-height:2.2;"><img src="assets/images/home/pdf.png" class="img-fluid" alt="Industrial Portable Coolers Details/Specs" title="Industrial Portable Coolers Details/Specs" /></a>
</div>
</div>
</div>


</div>









</div>
</section>

<button type="button" class="px-5 d-block mx-auto py-3 btn" style="color:#fff;border:1px solid #1861a3;background-color:#1861a3;box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;border-radius:0.45rem;" (click)="expertConsultationFun()">Get a FREE Expert Consultation</button>


<section class="section about-section gray-bg mb-5 font-family-1" id="installations" style="">
<div class="container-fluid">
<div class="row mt-5 mb-3">
<div class="col-12 offset-md-2 offset-lg-2 col-md-8 col-lg-8 text-center">
<h2 class="text-center d-block fw-bold fs-2" style="color:#083f84;">Our Pan India Installations</h2>

</div>
</div>
<div class="row">
<div class="col-lg-12">
<owl-carousel-o [options]="installationOptions">
<ng-template carouselSlide>
<img class="img-fluid" src="./assets/images/home/installations/JayBharatMaruti1.jpg" alt="industrial cooling setup at Jay Bharat Maruti">
<div class="owl-text-overlay text-center">
<h4 class="owl-title">70,000 sqft.</h4>
<p>Gujarat</p>
</div>
</ng-template>  

<ng-template carouselSlide>
<img class="img-fluid" src="./assets/images/home/installations/baddi_30000.jpg" alt="Industrial Cooling Baddi">
<div class="owl-text-overlay text-center">
<h4 class="owl-title">3,00,000 sqft.</h4>
<p>Baddi</p>
</div>
</ng-template>  


<ng-template carouselSlide>
<img class="img-fluid" src="./assets/images/home/installations/MascotPlastics.png" alt="Cooling systems at Mascot Plastics">
<div class="owl-text-overlay text-center">
<h4 class="owl-title">8000 sqft.</h4>
<p>Baroda</p>
</div>
</ng-template>
<ng-template carouselSlide>
<img class="img-fluid" src="./assets/images/home/installations/RMChemicalDhule2.jpg" alt="Installed cooling systems by Evapoler - outsideview">
<div class="owl-text-overlay text-center">
<h4 class="owl-title">10000 sqft.</h4>
<p>Maharashtra</p>
</div>
</ng-template>  
<ng-template carouselSlide>
<img class="img-fluid" src="./assets/images/home/installations/VeeGee3.jpg" alt="Installed cooling systems by Evapoler  at VeeGee">
<div class="owl-text-overlay text-center">
<h4 class="owl-title">20000 sqft.</h4>
<p>Gujarat</p>
</div>
</ng-template>  
<ng-template carouselSlide>
<img class="img-fluid" src="./assets/images/home/installations/YutikaNaturals.jpg" alt="industrial cooling setup at Yutika Naturals">
<div class="owl-text-overlay text-center">
<h4 class="owl-title">4000 sqft.</h4>
<p>Rajasthan</p>
</div>
</ng-template>
<ng-template carouselSlide>
<img class="img-fluid" src="./assets/images/home/installations/GlobeCapacitors.jpg" alt="Cooling systems installations for GlobeCapacitors by Evapoler">
<div class="owl-text-overlay text-center">
<h4 class="owl-title">12000 sqft.</h4>
<p>Faridabad</p>
</div>
</ng-template> 
<ng-template carouselSlide>
<img class="img-fluid" src="./assets/images/home/installations/Fackelmann.jpg" alt="Cooling systems installations for Fackelmann by Evapoler">
<div class="owl-text-overlay text-center">
<h4 class="owl-title">8500 sqft.</h4>
<p>Jaipur</p>
</div>
</ng-template>


<ng-template carouselSlide>
<img class="img-fluid" src="./assets/images/home/installations/10000_blr.jpg" alt="Industrial Cooling Bangalore">
<div class="owl-text-overlay text-center">
<h4 class="owl-title">10000 sqft.</h4>
<p>Bangalore</p>
</div>
</ng-template> 

<ng-template carouselSlide>
<img class="img-fluid" src="./assets/images/home/installations/9500_haveri.jpg" alt="Industrial Cooling Haveri">
<div class="owl-text-overlay text-center">
<h4 class="owl-title">9500 sqft.</h4>
<p>Haveri</p>
</div>
</ng-template> 

<ng-template carouselSlide>
<img class="img-fluid" src="./assets/images/home/installations/7500_vijayawada.jpg" alt="Industrial Cooling Vijayawada">
<div class="owl-text-overlay text-center">
<h4 class="owl-title">7500 sqft.</h4>
<p>Vijayawada</p>
</div>
</ng-template> 



<ng-template carouselSlide>
<img class="img-fluid" src="./assets/images/home/installations/RMChemicalDhule1.jpg" alt="cooling machines installed at RMC hemical Dhule">
<div class="owl-text-overlay text-center">
<h4 class="owl-title">6000 sqft.</h4>
<p>Maharashtra</p>
</div>
</ng-template>  
<ng-template carouselSlide>
<img class="img-fluid" src="./assets/images/home/installations/delhi.jpg" alt="cooling machines installed by Evapoler in Delhi">
<div class="owl-text-overlay text-center">
<h4 class="owl-title">30000 sqft.</h4>
<p>Delhi</p>
</div>
</ng-template>   

<ng-template carouselSlide>
<img class="img-fluid" src="./assets/images/home/installations/6500_punjab.jpg" alt="Industrial Cooling Punjab">
<div class="owl-text-overlay text-center">
<h4 class="owl-title">6500 sqft.</h4>
<p>Punjab</p>
</div>
</ng-template>  

<ng-template carouselSlide>
<img class="img-fluid" src="./assets/images/home/installations/15000_renukoot.jpg" alt="Industrial Cooling Renukoot">
<div class="owl-text-overlay text-center">
<h4 class="owl-title">15000 sqft.</h4>
<p>Renukoot</p>
</div>
</ng-template> 

<ng-template carouselSlide>
<img class="img-fluid" src="./assets/images/home/installations/22000_kanpur.jpg" alt="Industrial Cooling Kanpur">
<div class="owl-text-overlay text-center">
<h4 class="owl-title">22000 sqft.</h4>
<p>Kanpur</p>
</div>
</ng-template>
   
</owl-carousel-o>
</div>
</div>
</div>
</section>







<!--<section class="faq-section py-4 mb-0 unlock_bg">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-12 col-xl-12 col-sm-12">				
<div class="row mt-2">
<div class="col-12 col-md-12 col-lg-12 text-center">
<p class="text-center text-white fs-4">
Unlock Your Perfect Cooling Solution.<br>
Consult with Our Experts for a Customized Recommendation.
</p>
</div>
</div>
<div class="row mt-2">
<div class="col-12 col-md-12 col-lg-12 text-center">
<button type="button" class="btn btn-blue rounded-3" (click)="requestCallbackFun()">
Request a Callback
</button>
</div>
</div>
</div>
</div>
</div>
</section>-->








<section class="faq-section py-4 mb-0 font-helvetica-neue" id="whychooseevapoler" style="background-color:#ecf2ff;">
<div class="container">	

<div class="row mt-2 mb-5">
<div class="col-12 offset-md-2 offset-lg-2 col-md-8 col-lg-8 text-center">
<h2 class="text-center d-block fw-bold fs-2" style="color:#083f84;">Why Choose Evapoler</h2>
</div>
</div>

<div class="row mb-4 mt-0 justify-content-center">
<div class="col-md-12 col-lg-12">
<div class="parent-container-why">
<div class="box-card-why">
<div class="step-box-why">
<img src="./assets/images/area_cooled.jpg" width="112" height="112" alt="Area Cooled in sqft ">
<div>
<p class="mb-0 fw-bold" style="font-size:1.2em;color: #083f84;">10 Million+</p>
<p class="mb-0" style="font-size:0.9em;color: #083f84;">Sq. Ft. of Area Cooled</p>
</div>
</div>
</div>
<div class="box-card-why">
<div class="step-box-why">
<img src="./assets/images/air_supplied.jpg" width="112" height="112" alt="CFM of Air Supplied - total number">
<div>
<p class="mb-0 fw-bold" style="font-size:1.2em;color: #083f84;">50 Million+</p>
<p class="mb-0" style="font-size:0.9em;color: #083f84;">CFM of Air Supplied</p>
</div>
</div>
</div>
<div class="box-card-why">
<div class="step-box-why">
<img src="./assets/images/installations.jpg" width="112" height="112" alt="total installations number">
<div>
<p class="mb-0 fw-bold" style="font-size:1.2em;color: #083f84;">2000+</p>
<p class="mb-0" style="font-size:0.9em;color: #083f84;">Installations</p>
</div>
</div>
</div>

<div class="box-card-why">
<div class="step-box-why">
<img src="./assets/images/happy_clients.jpg" width="112" height="112" alt="number of clients number">
<div>
<p class="mb-0 fw-bold" style="font-size:1.2em;color: #083f84;">1900+</p>
<p class="mb-0" style="font-size:0.9em;color: #083f84;">Happy Clients</p>
</div>
</div>
</div>
<div class="box-card-why">
<div class="step-box-why">
<img src="./assets/images/years_of_expertise.jpg" width="112" height="112" alt="years of Expertise number">
<div>
<p class="mb-0 fw-bold" style="font-size:1.2em;color: #083f84;">10+</p>
<p class="mb-0" style="font-size:0.9em;color: #083f84;">Years of Expertise</p>
</div>
</div>
</div>



</div>
</div>
</div>


<!--<div class="row mt-2 justify-content-center" myMatchHeight="post_container">
<div class="col-md-2 mx-2">
<div class="post p-3 rounded-5 mb-5 mb-sm-0" style="border:2px solid #00bb5a;">
<div class="top-icon p-2 rounded-circle">
<img src="assets/images/home/ourcooling/AreaCooled.png" class="topIcon" width="40" height="40" />
</div>
<div class="post_container">
<h5 class="my-2">10 Million+</h5>
<p class="mb-0">Sq. Ft. of Area Cooled</p>
</div>
</div>
</div>
<div class="col-md-2 mx-2">
<div class="post p-3 rounded-5 mb-1 mb-5 mb-sm-0" style="border:2px solid #00bb5a;">
<div class="top-icon p-2 rounded-circle">
<img src="assets/images/home/ourcooling/AirSupplied.png" class="topIcon" width="40" height="40" />
</div>
<div class="post_container">
<h5 class="my-2">50 Million+</h5>
<p class="mb-0">CFM of Air Supplied</p>
</div>
</div>
</div>
<div class="col-md-2 mx-2">
<div class="post p-3 rounded-5 mb-1 mb-5 mb-sm-0" style="border:2px solid #00bb5a;">
<div class="top-icon p-2 rounded-circle">
<img src="assets/images/home/ourcooling/Installations.png" class="topIcon" width="40" height="40" />
</div>
<div class="post_container">
<h5 class="my-2">2000+</h5>
<p class="mb-0">Installations</p>
</div>
</div>
</div>
<div class="col-md-2 mx-2">
<div class="post p-3 rounded-5 mb-1 mb-5 mb-sm-0" style="border:2px solid #00bb5a;">
<div class="top-icon p-2 rounded-circle">
<img src="assets/images/home/ourcooling/HappyClients.png" class="topIcon" width="40" height="40" />
</div>
<div class="post_container">
<h5 class="my-2">1900+</h5>
<p class="mb-0">Happy Clients</p>
</div>
</div>
</div>
<div class="col-md-2 mx-2">
<div class="post p-3 rounded-5" style="border:2px solid #00bb5a;">
<div class="top-icon p-2 rounded-circle">
<img src="assets/images/home/ourcooling/YearsofExpertise.png" class="topIcon" width="40" height="40" />
</div>
<div class="post_container">
<h5 class="my-2">10+</h5>
<p class="mb-0">Years of Expertise</p>
</div>
</div>
</div>
</div>-->










<div class="row mt-5 justify-content-center">
<div class="col-md-5 text-center">
<div class="card p-5 border-0 rounded-3 mb-2" style="background-color:#fff;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">					
<div class="row mt-2">
<div class="col-md-12">
<h3 class="d-block fw-bold" style="color:#083f84;">Cost Savings Calculator</h3>
</div>
</div>
<div class="row mt-2">
<div class="col-md-12">
<p class="fs-5">
Try it now
</p>
</div>
</div>
<div class="row mt-2">
<div class="col-md-12">
<button type="button" class="btn btn-success d-block mx-auto" (click)="costsSavingsCalculatorFun()" style="border:1px solid #fff;background-color:#1861a3;box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;">
Calculate 
<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
</button>
</div>
</div>
</div>
</div>
</div>







</div>
</section>













<section class="faq-section py-4 mb-0" id="applications" style="">

<div class="container">	
<div class="row mt-2 mb-5">
<div class="col-12 offset-md-2 offset-lg-2 col-md-8 col-lg-8 text-center">
<h2 class="text-center d-block fw-bold fs-2" style="color:#083f84;">Evapoler for Every Application</h2>
</div>
</div>

<div class="row mt-2 justify-content-center" myMatchHeight="card-text-1">
<div class="col-md-2 col-6">
<div class="card mb-1">
<div class="card-body">
<img src="./assets/images/home/application/Manufacturing.png" class="d-block mx-auto" alt="cooling solutions for Manufacturing icon" width="90" />
<p class="card-text text-center mt-3 card-text-1">Manufacturing Facilities</p>
</div>
</div>
</div>
<div class="col-md-2 col-6">
<div class="card mb-1">
<div class="card-body">
<img src="./assets/images/home/application/Factories.png" class="d-block mx-auto" alt="cooling solutions for Factories icon" width="90" />
<p class="card-text text-center mt-3 card-text-1">Factories</p>
</div>
</div>
</div>
<div class="col-md-2 col-6">
<div class="card mb-1">
<div class="card-body">
<img src="./assets/images/home/application/Warehouses.png" class="d-block mx-auto" alt="cooling solutions for Warehouses icon" width="90" />
<p class="card-text text-center mt-3 card-text-1">Warehouses</p>
</div>
</div>
</div>
<div class="col-md-2 col-6">
<div class="card mb-1">
<div class="card-body">
<img src="./assets/images/home/application/CommercialComplexes.png" class="d-block mx-auto" alt="cooling solutions for Commercial Complexes  icon" width="90" />
<p class="card-text text-center mt-3 card-text-2">Educational Institutes</p>
</div>
</div>
</div>
<div class="col-md-2 col-6">
<div class="card mb-1">
<div class="card-body">
<img src="./assets/images/home/application/ElectricPanelrooms.png" class="d-block mx-auto" alt="cooling solutions for Electric Panel Rooms icon" width="90" />
<p class="card-text text-center mt-3 card-text-2">Electric Panel Rooms</p>

</div>
</div>
</div>
<div class="col-md-2 col-6">
<div class="card mb-1">
<div class="card-body">

<img src="./assets/images/home/application/CommercialKitchens.png" class="d-block mx-auto" alt="cooling solutions for Commercial Kitchens icon" width="90" />
<p class="card-text text-center mt-3 card-text-2">Commercial Kitchens</p>
</div>
</div>
</div>
</div>







<div class="row mt-2 justify-content-center" myMatchHeight="card-text-2">
<div class="col-md-2 col-6">
<div class="card mb-1">
<div class="card-body">
<img src="./assets/images/home/application/Workshops.png" class="d-block mx-auto" alt="cooling solutions for Workshops icon" width="90" />
<p class="card-text text-center mt-3 card-text-2">Workshops</p>
</div>
</div>
</div>
<div class="col-md-2 col-6">
<div class="card mb-1">
<div class="card-body">
<img src="./assets/images/home/application/AutomobileIndustry.png" class="d-block mx-auto" alt="cooling solutions for Automobile Industry icon" width="90" />
<p class="card-text text-center mt-3 card-text-2">Automobile Industry</p>
</div>
</div>
</div>
<div class="col-md-2 col-6">
<div class="card">
<div class="card-body">
<img src="./assets/images/home/application/Printingandpackagingindustry.png" class="d-block mx-auto" alt="cooling solutions for Printing and packaging industry icon" width="90" />
<p class="card-text text-center mt-3 card-text-2">Printing & Packaging Industry</p>
</div>
</div>
</div>
<div class="col-md-2 col-6">
<div class="card mb-1">
<div class="card-body">
<img src="./assets/images/home/application/FoodProcessingIndustry.png" class="d-block mx-auto" alt="cooling solutions for Food Processing Industry icon" width="90" />
<p class="card-text text-center mt-3 card-text-2">Food Processing Industry</p>
</div>
</div>
</div>
<div class="col-md-2 col-6">
<div class="card mb-1">
<div class="card-body">
<img src="./assets/images/home/application/HealthCareIndustry.png" class="d-block mx-auto" alt="cooling solutions for HealthCare Industry icon" width="90" />
<p class="card-text text-center mt-3 card-text-2">Healthcare Industry</p>
</div>
</div>
</div>
<div class="col-md-2 col-6">
<div class="card">
<div class="card-body">
<img src="./assets/images/home/application/Textilegarmentindustry.png" class="d-block mx-auto" alt="cooling solutions for Textile garment industry icon" width="90" />
<p class="card-text text-center mt-3 card-text-2">Textile/Garment Factory</p>
</div>
</div>
</div>
</div>

</div>
</section>

<section class="section about-section gray-bg mb-5" id="reviews" style="">
<div class="container-fluid">
<div class="row mt-5 mb-3">
<div class="col-12 offset-md-2 offset-lg-2 col-md-8 col-lg-8 text-center">
<h2 class="text-center d-block fw-bold fs-2" style="color:#083f84;">Raving Reviews: See Why Our Clients Love Us</h2>

</div>
</div>
<div class="row">
<div class="col-lg-5 text-center">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4NQI-jWsi7M?si=j-6bTx2L4PpFiMqN" srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/4NQI-jWsi7M?si=j-6bTx2L4PpFiMqN><img src=assets/images/home/rating.jpg alt=''><span></span></a>"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen width="100%"></iframe>
</div>

</div>
<div class="col-lg-6">
<owl-carousel-o [options]="customOptions">
<ng-template carouselSlide>
<div class="card">
<div class="card-body p-2 p-xxl-2">
<div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
<blockquote class="bsb-blockquote-icon mb-3" style="font-size:0.7em;height: 10rem;">As promised by Evapoler, the Evapoler natural air cooling machines installed at our office for central air cooling are working efficiently and-we are satisfied with the performance. The Evapoler air cooling equipment's are energy saving .lt consumes only 03 units per hour for an area of 2400 sq. ft. office block.<br> We are also happy with the timely and good quality after Sales Service from Evapoler Eco Cooling Solution, as and when required.</blockquote>
<figure class="d-flex align-items-center m-0 p-0">
<img class="img-fluid rounded rounded-circle m-0 border border-5 w-25" loading="lazy" src="./assets/images/home/reviews/ag-office.webp" alt="ag office logo">
<figcaption class="ms-3">
<h5 class="mb-1 h5">AG Office</h5>
</figcaption>
</figure>
</div>
</div>
</ng-template>  
<ng-template carouselSlide>
<div class="card">
<div class="card-body p-2 p-xxl-2">
<div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
<blockquote class="bsb-blockquote-icon mb-3" style="font-size:0.7em;height: 10rem;">We are happy with the cooling performance of Evapoler machine and are looking at the possibility of using Evapoler units at other location in the school.<br>We are using their machines from the last 4 years and are quite satisfied with their service.</blockquote>
<figure class="d-flex align-items-center m-0 p-0">
<img class="img-fluid rounded rounded-circle m-0 border border-5 w-25" loading="lazy" src="./assets/images/home/reviews/Air-Force-School.webp" alt="Air Force School Review Logo">
<figcaption class="ms-3">
<h5 class="mb-1 h5">Air Force School</h5>
</figcaption>
</figure>
</div>
</div>
</ng-template>  
<ng-template carouselSlide>
<div class="card">
<div class="card-body p-2 p-xxl-2">
<div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
<blockquote class="bsb-blockquote-icon mb-3" style="font-size:0.7em;height: 10rem;">Very Happy with the performance of Evapoler-Natural Air Cooling Machine.There have been no problem, whatsover till date and we are satisfied with the cost effective and energy efficient cooling.<br>They are also quite prompt about service and maintenance requirements of their clients. </blockquote>
<figure class="d-flex align-items-center m-0 p-0">
<img class="img-fluid rounded rounded-circle m-0 border border-5 w-25" loading="lazy" src="./assets/images/home/reviews/Ananta-Institute.webp" alt="Ananta-Institute Review Logo">
<figcaption class="ms-3">
<h5 class="mb-1 h5">Ananta Institute</h5>
</figcaption>
</figure>
</div>
</div>
</ng-template>
<ng-template carouselSlide>
<div class="card">
<div class="card-body p-2 p-xxl-2">
<div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
<blockquote class="bsb-blockquote-icon mb-3" style="font-size:0.7em;height: 10rem;">Evapoler Natural Air Cooling System, Provides excellent cooling to the work place even better during the hot and dry summer month. They maintain conducive working environment which increase the productivity of workers.<br>We are happy with the product and recommend this to all those having a big area.The evapoler machine are easy to maintain, cost-effective and consume less electricity. </blockquote>
<figure class="d-flex align-items-center m-0 p-0">
<img class="img-fluid rounded rounded-circle m-0 border border-5 w-25" loading="lazy" src="./assets/images/home/reviews/silkasia.webp" alt="Silkasia Review Logo">
<figcaption class="ms-3">
<h5 class="mb-1 h5">Silkasia</h5>
</figcaption>
</figure>
</div>
</div>
</ng-template> 
<ng-template carouselSlide>
<div class="card">
<div class="card-body p-2 p-xxl-2">
<div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
<blockquote class="bsb-blockquote-icon mb-3" style="font-size:0.7em;height: 10rem;">We are happy with the product and recommend this to all those having a big area. The Evapoler machine are easy to maintain, cost effective &amp; consume less electricity.<br>They have a strong after sales service policy and spare parts are available all-round the year.</blockquote>
<figure class="d-flex align-items-center m-0 p-0">
<img class="img-fluid rounded rounded-circle m-0 border border-5 w-25" loading="lazy" src="./assets/images/home/reviews/Brij-Group.webp" alt="Brij Group Review Logo">
<figcaption class="ms-3">
<h5 class="mb-1 h5">Brij Group</h5>
</figcaption>
</figure>
</div>
</div>
</ng-template>  
</owl-carousel-o>
</div>
</div>
<div class="row">
<div class="col-lg-12 text-center">
<owl-carousel-o [options]="clientOptions">
<ng-template carouselSlide>
<img src="./assets/images/home/clients/3M.jpg" class="" alt="cooling system client 3m" width="90" />
</ng-template>  
<ng-template carouselSlide>
<img src="./assets/images/home/clients/AdityaBirla.jpg" class="" alt="Industrial cooling system client aditya birla" width="90" />
</ng-template>
<ng-template carouselSlide>
<img src="./assets/images/home/clients/AdityaGrasim.jpg" class="" alt="Industrial cooling system client aditya grasim" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Airfoceschool.jpg" class="" alt="cooling system client airfoce school" width="90" />
</ng-template>
<ng-template carouselSlide>
<img src="./assets/images/home/clients/ApolloTyres.jpg" class="" alt="cooling system client apollo tyres" width="90" />
</ng-template>  
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Aqualite.jpg" class="" alt="Industrial cooling system client Aqualite" width="90" />
</ng-template>  
<ng-template carouselSlide>
<img src="./assets/images/home/clients/AsianPaints.jpg" class="" alt="Industrial cooling system client Asian Paints" width="90" />
</ng-template>
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Ceat.jpg" class="" alt="cooling system client Ceat" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Cornitos.jpg" class="" alt="cooling system client  Cornitos" width="90" />
</ng-template>
<ng-template carouselSlide>
<img src="./assets/images/home/clients/DCM.jpg" class="" alt="cooling system client DCM" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Deepak.jpg" class="" alt="Industrial cooling system client Deepak" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Eastman.jpg" class="" alt="Industrial cooling system client Eastman" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/GIC.jpg" class="" alt="cooling system client GIC" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/GIMAtex.jpg" class="" alt="cooling system client GIMAtex" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Glenmark.jpg" class="" alt="Industrial cooling system client Glenmark" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/HDFC.jpg" class="" alt="cooling system client HDFC" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/IISJaipur.jpg" class="" alt="IIS Jaipur cooling system client" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Jaswal.jpg" class="" alt="cooling system client Jaswal" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/JBM.jpg" class="" alt="cooling system client JBM" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/JSW.jpg" class="" alt="Industrial cooling system client JSW" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Jubilant.jpg" class="" alt="Industrial cooling system client Jubilant" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Kajaria.jpg" class="" alt="cooling system client - Kajaria" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Kanteen.jpg" class="" alt="cooling system client - Kanteen" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/KapoorGlass.jpg" class="" alt="Industrial Air Coolers Client - Kapoor Glass" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Kautilya.jpg" class="" alt="cooling system client - Kautilya" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Ketex.jpg" class="" alt="cooling system client - Ketex" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Mahindra.jpg" class="" alt="Industrial Air Coolers Client - Mahindra" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/NeelMetal.jpg" class="" alt="cooling system client - NeelMetal" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Nexus.jpg" class="" alt="Industrial Air Coolers Client - Nexus" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Normet.jpg" class="" alt="cooling system client - Normet" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Nuvoco.jpg" class="" alt="cooling system client - Nuvoco" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Parle.jpg" class="" alt="Industrial Air Coolers Client - Parle" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/PernodRicard.jpg" class="" alt="Evapoler cooling client -Pernod Ricard" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Rhyeco.jpg" class="" alt="Evapoler cooling client -Rhyeco" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/TataMotors.jpg" class="" alt="Industrial Air Coolers Client - TataMotors" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Ultratech.jpg" class="" alt="Evapoler cooling client -Ultratech" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Vedanta.jpg" class="" alt="Industrial Air Coolers Client - Vedanta" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/VJ.jpg" class="" alt="Evapoler cooling client -VJ" width="90" />
</ng-template> 
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Voltas.jpg" class="" alt="Evapoler cooling client - Voltas" width="90" />
</ng-template>
<ng-template carouselSlide>
<img src="./assets/images/home/clients/Wingreens.jpg" class="" alt="Air Coolers Client - Wingreens" width="90" />
</ng-template>
<ng-template carouselSlide>
<img src="./assets/images/home/clients/YellowChilli.jpg" class="" alt="Evapoler cooling client -Yellow Chilli" width="90" />
</ng-template>
</owl-carousel-o>
</div>
</div>
</div>
</section>







<section class="section about-section gray-bg mb-5">
<div class="container">
<div class="row mt-5 mb-3">
<div class="col-12 offset-md-2 offset-lg-2 col-md-8 col-lg-8 text-center">
<h2 class="text-center d-block fw-bold fs-2" style="color:#083f84;">Frequently Asked Questions</h2>
</div>
</div>
<div class="row">
<div class="col-lg-8">				
<cdk-accordion class="example-accordion mb-1">
<cdk-accordion-item
*ngFor="let item of items; let index = index;"
#accordionItem="cdkAccordionItem"
class="example-accordion-item "
role="button"
tabindex="0"
[attr.id]="'accordion-header-' + index"
[attr.aria-expanded]="accordionItem.expanded"
[attr.aria-controls]="'accordion-body-' + index">
<div class="example-accordion-item-header fw-bold" (click)="accordionItem.toggle()">
{{ item['key'] }}
<span class="example-accordion-item-description">
<i class="pull-right fa fa-minus"
[ngClass]="{'fa-minus': accordionItem?.expanded, 'fa-plus': !accordionItem?.expanded}" style="line-height: 1.8;"></i>

</span>
</div>
<div
class="example-accordion-item-body"
role="region"
[style.display]="accordionItem.expanded ? '' : 'none'"
[attr.id]="'accordion-body-' + index"
[attr.aria-labelledby]="'accordion-header-' + index" [innerHTML]="item['value']">
</div>
</cdk-accordion-item>
</cdk-accordion>
</div>
<div class="col-lg-4">

<div class="card p-5 border-0 rounded-3" style="background-color:#ecf2ff;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">					
<div class="row mt-2">
<div class="col-md-12">
<h3 class="d-block fw-bold fs-4">Still Have Questions?</h3>
</div>
</div>
<div class="row mt-2">
<div class="col-md-12">
<p class="fs-5">
Can't find the answer you're looking for? Please connect with our friendly team.
</p>
</div>
</div>
<div class="row mt-2">
<div class="col-md-12">
<button type="button" mat-raised-button class="w-100" color="primary" (click)="requestCallbackFun()" style="border:1px solid #fff;background-color:#1861a3;box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;">
<i class="fa fa-file" aria-hidden="true"></i>
Get a Callback in Minutes
</button>
</div>
</div>
</div>

</div>
</div>
</div>
</section>

<section class="section gray-bg mb-5">
<div class="container-fluid">
<a id="certificates_evapolar"></a>
<div class="row mt-2 mb-3">
<div class="col-12 offset-md-2 offset-lg-2 col-md-8 col-lg-8 text-center">
<h2 class="text-center d-block fw-bold fs-2" style="color:#083f84;">Certifications and Awards</h2>
<p class="text-center d-block text-grey fs-5">Our Commitment to Quality</p>
</div>
</div>
<div class="row">
	
	<div class="col-lg-3 col-md-3 col-12 text-center">
		<img src="./assets/images/home/certificates/isocertificate.png"  alt="ISO CERTIFICATION IMAGE FOR COOLING SYSTEMS" class="img-fluid mb-3"/>
	</div>
	
	<div class="col-lg-3 col-md-3 col-12 text-center">
		<img src="./assets/images/home/certificates/PledgeCertificate.png" alt="ZED - Award for cooling systems" class="img-fluid mb-3"/>
	</div>
	
	<div class="col-lg-3 col-md-3 col-12 text-center">
		<img src="./assets/images/home/certificates/MSMECertificate.png" alt="MSME AWARD FROM CCI" class="img-fluid mb-3"/>
	</div>
	
	<div class="col-lg-3 col-md-3 col-12 text-center">
		<img src="./assets/images/home/certificates/Award2.jpg" alt="Award for cooling systems" class="img-fluid mb-3"/>
	</div>

  
</div>
</div>
</section>


<ng-template #expertConsultationModal let-c="close" let-d="dismiss">
<div class="modal-body requestcallbackModal" style="background-color:#083f83;border-radius: 0.5rem;">
<button type="button" class="close" aria-label="Close" (click)="expertConsultationModalRefHideFun()" style="color:#fff;opacity:1;">
<span aria-hidden="true">&times;</span>
</button>
<h3 class="text-center mb-1 text-white">Get a FREE expert consultation</h3>
<p class="text-center d-block text-dark fs-6 mb-4 text-white">Pan India Installation & Service</p>


<div [formGroup]="expertConsultationForm" class="mb-2 enquiryForm">
<div class="row mb-lg-2 mb-0" [ngClass]="((expertConsultationForm.get('mobile_number')?.touched) && (expertConsultationForm.get('mobile_number')?.hasError('required') || (expertConsultationForm.get('mobile_number')?.errors?.['CHECK_DIGIT_FAILED']==true || expertConsultationForm.get('mobile_number')?.errors?.['CHECK_MOBILE_FAILED']==true || expertConsultationForm.get('mobile_number')?.hasError('minlength') || expertConsultationForm.get('mobile_number')?.hasError('maxlength') ))) ? 'mb-4':''">
<div class="col-md-4 col-xl-4 offset-md-2 offset-xl-2 col-sm-12">
<mat-form-field appearance="fill">
<mat-label>Name</mat-label>
<input matInput placeholder="" formControlName="name">
<mat-error
*ngIf="expertConsultationForm.get('name')!.hasError('required')" class="bookfree_error">Please enter a name</mat-error>
</mat-form-field>
</div>
<div class="col-md-4 col-xl-4 col-sm-12">
<mat-form-field appearance="fill">
<mat-label>Mobile Number</mat-label>
<input matInput placeholder="" formControlName="mobile_number" maxlength="10">
<mat-error *ngIf="expertConsultationForm.get('mobile_number')?.hasError('required') || (expertConsultationForm.get('mobile_number')?.errors?.['CHECK_DIGIT_FAILED']==true || expertConsultationForm.get('mobile_number')?.errors?.['CHECK_MOBILE_FAILED']==true || expertConsultationForm.get('mobile_number')?.hasError('minlength') || expertConsultationForm.get('mobile_number')?.hasError('maxlength') )" class="bookfree_error">Please enter valid 10 digit number starting with 5,6,7,8 or 9</mat-error>
</mat-form-field>
</div>
</div>
<div class="row mb-lg-2 mb-0">
<div class="col-md-4 col-xl-4 col-sm-12 offset-md-2 offset-xl-2">
<mat-form-field appearance="fill">
<mat-label>Email ID</mat-label>
<input type="email" matInput formControlName="emailId" placeholder="">
<mat-error *ngIf="expertConsultationForm.get('emailId')?.hasError('required')" class="bookfree_error">Email address is required</mat-error>
<mat-error *ngIf="expertConsultationForm.get('emailId')?.hasError('pattern')" class="bookfree_error">Please enter a valid email address</mat-error>
</mat-form-field>
</div>
<div class="col-md-4 col-xl-4 col-sm-12">
<mat-form-field appearance="fill">
<mat-label>Company Name</mat-label>
<input matInput placeholder="" formControlName="company_name">
<mat-error
*ngIf="expertConsultationForm.get('company_name')!.hasError('required')" class="bookfree_error">Please enter the company name</mat-error>
</mat-form-field>
</div>
</div>
<div class="row mb-lg-2 mb-0">
<div class="col-md-4 col-xl-4 col-sm-12 offset-md-2 offset-xl-2">
<mat-form-field appearance="fill">
<mat-label>Application</mat-label>
<mat-select formControlName="application">
<mat-option value="">Application*</mat-option>
<mat-option value="Manufacturing Facility">Manufacturing Facility</mat-option>
<mat-option value="Industry">Industry</mat-option>
<mat-option value="Factory">Factory</mat-option>
<mat-option value="Warehouse">Warehouse</mat-option>
<mat-option value="Educational Institutes">Educational Institutes</mat-option>
<mat-option value="Commercial Kitchens">Commercial Kitchens</mat-option>
<mat-option value="Electric Panel Rooms">Electric Panel Rooms</mat-option>
<mat-option value="Army Barracks">Army Barracks</mat-option>
<mat-option value="Hospitals">Hospitals</mat-option>
<mat-option value="Others">Others</mat-option>
</mat-select>
<mat-error *ngIf="expertConsultationForm.get('application')!.hasError('required')" class="bookfree_error">Please select an application</mat-error>
</mat-form-field>
</div>
<div class="col-md-4 col-xl-4 col-sm-12">
<mat-form-field appearance="fill">
<mat-label>City</mat-label>
<input matInput placeholder="" formControlName="city">
<mat-error *ngIf="expertConsultationForm.get('city')!.hasError('required')" class="bookfree_error">Enter Your City Name</mat-error>
</mat-form-field>
</div>
</div>
<div class="row mb-lg-2 mb-0">
<div class="col-md-8 col-xl-8 col-sm-12 offset-md-2 offset-xl-2">
<mat-form-field appearance="fill">
<mat-label>Message (optional)</mat-label>
<textarea matInput placeholder="" formControlName="message" rows="1"></textarea>
</mat-form-field>
</div>
</div>
<div class="row">
<div class="col-md-8 col-xl-8 col-sm-12 offset-md-2 offset-xl-2">
<button type="button"  class="px-5 btn btn-white rounded-5 d-block mx-auto fw-bold btn-lg submitbtn"
 (click)="submitBookingFun('free_expert')" [disabled]="expertConsultationForm['invalid']"><span [innerHTML]="Submit_free_expert"></span></button>
</div>
</div>
</div>




</div>
</ng-template>



<ng-template #requestcallbackModal let-c="close" let-d="dismiss">
<div class="modal-body requestcallbackModal" style="background-color:#083f83;border-radius: 0.5rem;">
<button type="button" class="close text-white" aria-label="Close" (click)="requestcallbackModalRefHideFun()" style="opacity:1;">
<span aria-hidden="true">&times;</span>
</button>
<h3 class="text-center mb-1 text-white">Get a Callback in Minutes</h3>
<p class="text-center d-block text-dark fs-6 mb-4 text-white">Pan India Installation & Service</p>
<div [formGroup]="requestcallbackForm" class="mb-2 enquiryForm">
<div class="row mb-lg-2 mb-0" [ngClass]="((requestcallbackForm.get('mobile_number')?.touched) && (requestcallbackForm.get('mobile_number')?.hasError('required') || (requestcallbackForm.get('mobile_number')?.errors?.['CHECK_DIGIT_FAILED']==true || requestcallbackForm.get('mobile_number')?.errors?.['CHECK_MOBILE_FAILED']==true || requestcallbackForm.get('mobile_number')?.hasError('minlength') || requestcallbackForm.get('mobile_number')?.hasError('maxlength') ))) ? 'mb-4':''">
<div class="col-md-4 col-xl-4 col-sm-12 offset-md-2 offset-xl-2">
<mat-form-field appearance="fill">
<mat-label>Name</mat-label>
<input matInput placeholder="" formControlName="name">
<mat-error
*ngIf="requestcallbackForm.get('name')!.hasError('required')" class="bookfree_error">Please enter a name</mat-error>
</mat-form-field>
</div>
<div class="col-md-4 col-xl-4 col-sm-12">
<mat-form-field appearance="fill">
<mat-label>Mobile Number</mat-label>
<input matInput placeholder="" formControlName="mobile_number" maxlength="10">
<mat-error *ngIf="requestcallbackForm.get('mobile_number')?.hasError('required') || (requestcallbackForm.get('mobile_number')?.errors?.['CHECK_DIGIT_FAILED']==true || requestcallbackForm.get('mobile_number')?.errors?.['CHECK_MOBILE_FAILED']==true || requestcallbackForm.get('mobile_number')?.hasError('minlength') || requestcallbackForm.get('mobile_number')?.hasError('maxlength') )" class="bookfree_error">Please enter valid 10 digit number starting with 5,6,7,8 or 9</mat-error>
</mat-form-field>
</div>
</div>
<div class="row mb-lg-2 mb-0">
<div class="col-md-4 col-xl-4 col-sm-12 offset-md-2 offset-xl-2">
<mat-form-field appearance="fill">
<mat-label>Email ID</mat-label>
<input type="email" matInput formControlName="emailId" placeholder="">
<mat-error *ngIf="requestcallbackForm.get('emailId')?.hasError('required')" class="bookfree_error">Email address is required</mat-error>
<mat-error *ngIf="requestcallbackForm.get('emailId')?.hasError('pattern')" class="bookfree_error">Please enter a valid email address</mat-error>
</mat-form-field>
</div>
<div class="col-md-4 col-xl-4 col-sm-12">
<mat-form-field appearance="fill">
<mat-label>Company Name</mat-label>
<input matInput placeholder="" formControlName="company_name">
<mat-error
*ngIf="requestcallbackForm.get('company_name')!.hasError('required')" class="bookfree_error">Please enter the company name</mat-error>
</mat-form-field>
</div>
</div>
<div class="row mb-lg-2 mb-0">
<div class="col-md-4 col-xl-4 col-sm-12 offset-md-2 offset-xl-2">
<mat-form-field appearance="fill">
<mat-label>Application</mat-label>
<mat-select formControlName="application">
<mat-option value="">Application*</mat-option>
<mat-option value="Manufacturing Facility">Manufacturing Facility</mat-option>
<mat-option value="Industry">Industry</mat-option>
<mat-option value="Factory">Factory</mat-option>
<mat-option value="Warehouse">Warehouse</mat-option>
<mat-option value="Educational Institutes">Educational Institutes</mat-option>
<mat-option value="Commercial Kitchens">Commercial Kitchens</mat-option>
<mat-option value="Electric Panel Rooms">Electric Panel Rooms</mat-option>
<mat-option value="Army Barracks">Army Barracks</mat-option>
<mat-option value="Hospitals">Hospitals</mat-option>
<mat-option value="Others">Others</mat-option>
</mat-select>
<mat-error *ngIf="requestcallbackForm.get('application')!.hasError('required')" class="bookfree_error">Please select an application</mat-error>
</mat-form-field>
</div>
<div class="col-md-4 col-xl-4 col-sm-12">
<mat-form-field appearance="fill">
<mat-label>City</mat-label>
<input matInput placeholder="" formControlName="city">
<mat-error *ngIf="requestcallbackForm.get('city')!.hasError('required')" class="bookfree_error">Enter Your City Name</mat-error>
</mat-form-field>
</div>
</div>
<div class="row mb-lg-2 mb-0">
<div class="col-md-8 col-xl-8 col-sm-12 offset-md-2 offset-xl-2">
<mat-form-field appearance="fill">
<mat-label>Message (optional)</mat-label>
<textarea matInput placeholder="" formControlName="message" rows="1"></textarea>
</mat-form-field>
</div>
</div>
<div class="row">
<div class="col-md-8 col-xl-8 col-sm-12 offset-md-2 offset-xl-2">
<button type="button" class="px-5 btn btn-white rounded-5 d-block mx-auto fw-bold btn-lg submitbtn"
 (click)="submitBookingFun('get_a_callback')" [disabled]="requestcallbackForm['invalid']"><span [innerHTML]="Submit_get_a_callback"></span></button>
</div>
</div>
</div>




</div>
</ng-template>
<ng-template #costsavingscalcModal let-c="close" let-d="dismiss">
<div class="modal-body costsavingscalcModal" style="background-color:#083f83;border-radius: 0.5rem;">
<button type="button" class="close text-white" style="opacity:1;" aria-label="Close" (click)="costsavingscalcModalRefHideFun()">
<span aria-hidden="true">&times;</span>
</button>
<div class="py-5 enquiryForm">
<h3 class="text-center mb-4 text-white">Cost Savings Calculator</h3>
<div class="row justify-content-center">
<div class="col-md-8 col-xl-8 col-sm-12 col-12">
<mat-form-field appearance="fill">
<mat-label>Application</mat-label>
<mat-select [(ngModel)]="applicationforcalculation" (ngModelChange)="areaFun()">
<mat-option value="">-Choose Application-</mat-option>
<mat-option value="Manufacturing Facility">Manufacturing Facility</mat-option>
<mat-option value="Industry">Industry</mat-option>
<mat-option value="Factory">Factory</mat-option>
<mat-option value="Warehouse">Warehouse</mat-option>
<mat-option value="Educational Institutes">Educational Institutes</mat-option>
<mat-option value="Commercial Kitchens">Commercial Kitchens</mat-option>
<mat-option value="Electric Panel Rooms">Electric Panel Rooms</mat-option>
<mat-option value="Army Barracks">Army Barracks</mat-option>
<mat-option value="Hospitals">Hospitals</mat-option>
<mat-option value="Others">Others</mat-option>
</mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
<mat-label>Area</mat-label>
<mat-select [(ngModel)]="area" (ngModelChange)="areaFun()">
<mat-option value="">-Choose Area-</mat-option>
<mat-option value="1000">1000 Sq.Ft.</mat-option>
<mat-option value="2000">2000 Sq.Ft.</mat-option>
<mat-option value="3000">3000 Sq.Ft.</mat-option>
<mat-option value="4000">4000 Sq.Ft.</mat-option>
<mat-option value="5000">5000 Sq.Ft.</mat-option>
</mat-select>
</mat-form-field>
</div>
</div>
<div class="row justify-content-center" myMatchHeight="card-height-popup">
<div class="col-md-4 col-xl-4 col-sm-12 col-12">
<div class="card card-height-popup">
<div class="card-body">
<h6 class="text-left"><strong>Electricity Consumption / hour</strong></h6>
<p class="mb-2"><i class="fa fa-check-circle" style="color:#00bb5b;" *ngIf="Electricity_Consumption_with_Evapoler!=''"></i> With Evapoler : <span>{{Electricity_Consumption_with_Evapoler}} {{Electricity_Consumption_with_Evapoler_unit_label}} </span></p>
<p>With AC : <span>{{Electricity_Consumption_with_AC}} {{Electricity_Consumption_with_AC_unit_label}}</span></p>
</div>
</div>
</div>
<div class="col-md-4 col-xl-4 col-sm-12 col-12">
<div class="card card-height-popup">
<div class="card-body">
<h6 class="text-left"><strong>Annual Savings</strong></h6>
<p><span><i class="fa fa-check-circle" style="color:#00bb5b;" *ngIf="Annual_Savings_with_Evapoler!=''"></i> Rs. {{Annual_Savings_with_Evapoler}}</span></p>
<a style="cursor:pointer;" matTooltipPosition="above" matTooltip="Annual savings is calculated in Rupees as (Difference in kWh)*8*10*25*9
(NOTE: 1 unit of electricity = 1 kWh, Rs. 8 cost per unit of electricity, 10 working hours in a day, 25 working days monthly, 9 summer months in a year)">See How It's Calculated</a>
</div>
</div>
</div>
</div>
</div>
</div>
</ng-template>
<ng-template #reviewcallbackModal let-c="close" let-d="dismiss">
<div class="modal-body reviewcallbackModal" style="background-color:#fff;border-radius: 0.5rem;">
<button type="button" class="close" aria-label="Close" (click)="reviewModalRefHideFun()">
<span aria-hidden="true">&times;</span>
</button>
<h3 class="text-center mb-4">Client Testimonials</h3>
<owl-carousel-o [options]="customOptions">
<ng-template carouselSlide>
<div class="card">
<div class="card-body p-2 p-xxl-2">
<div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
<blockquote class="bsb-blockquote-icon mb-3" style="font-size:0.7em;height: 12rem;">As promised by Evapoler, the Evapoler natural air cooling machines installed at our office for central air cooling are working efficiently and-we are satisfied with the performance. The Evapoler air cooling equipment's are energy saving .lt consumes only 03 units per hour for an area of 2400 sq. ft. office block.<br> We are also happy with the timely and good quality after Sales Service from Evapoler Eco Cooling Solution, as and when required.</blockquote>
<figure class="d-flex align-items-center m-0 p-0">
<img class="img-fluid rounded rounded-circle m-0 border border-5 w-25" loading="lazy" src="./assets/images/home/reviews/ag-office.webp" alt="ag office logo">
<figcaption class="ms-3">
<h5 class="mb-1 h5">AG Office</h5>
</figcaption>
</figure>
</div>
</div>
</ng-template>  
<ng-template carouselSlide>
<div class="card">
<div class="card-body p-2 p-xxl-2">
<div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
<blockquote class="bsb-blockquote-icon mb-3" style="font-size:0.7em;height: 12rem;">We are happy with the cooling performance of Evapoler machine and are looking at the possibility of using Evapoler units at other location in the school.<br>We are using their machines from the last 4 years and are quite satisfied with their service.</blockquote>
<figure class="d-flex align-items-center m-0 p-0">
<img class="img-fluid rounded rounded-circle m-0 border border-5 w-25" loading="lazy" src="./assets/images/home/reviews/Air-Force-School.webp" alt="Air Force School Review Logo">
<figcaption class="ms-3">
<h5 class="mb-1 h5">Air Force School</h5>
</figcaption>
</figure>
</div>
</div>
</ng-template>  
<ng-template carouselSlide>
<div class="card">
<div class="card-body p-2 p-xxl-2">
<div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
<blockquote class="bsb-blockquote-icon mb-3" style="font-size:0.7em;height: 12rem;">Very Happy with the performance of Evapoler-Natural Air Cooling Machine.There have been no problem, whatsover till date and we are satisfied with the cost effective and energy efficient cooling.<br>They are also quite prompt about service and maintenance requirements of their clients. </blockquote>
<figure class="d-flex align-items-center m-0 p-0">
<img class="img-fluid rounded rounded-circle m-0 border border-5 w-25" loading="lazy" src="./assets/images/home/reviews/Ananta-Institute.webp" alt="Ananta-Institute Review Logo">
<figcaption class="ms-3">
<h5 class="mb-1 h5">Ananta Institute</h5>
</figcaption>
</figure>
</div>
</div>
</ng-template>
<ng-template carouselSlide>
<div class="card">
<div class="card-body p-2 p-xxl-2">
<div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
<blockquote class="bsb-blockquote-icon mb-3" style="font-size:0.7em;height: 12rem;">Evapoler Natural Air Cooling System, Provides excellent cooling to the work place even better during the hot and dry summer month. They maintain conducive working environment which increase the productivity of workers.<br>We are happy with the product and recommend this to all those having a big area.The evapoler machine are easy to maintain, cost-effective and consume less electricity. </blockquote>
<figure class="d-flex align-items-center m-0 p-0">
<img class="img-fluid rounded rounded-circle m-0 border border-5 w-25" loading="lazy" src="./assets/images/home/reviews/silkasia.webp" alt="Silkasia Review Logo">
<figcaption class="ms-3">
<h5 class="mb-1 h5">Silkasia</h5>
</figcaption>
</figure>
</div>
</div>
</ng-template> 
<ng-template carouselSlide>
<div class="card">
<div class="card-body p-2 p-xxl-2">
<div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
<blockquote class="bsb-blockquote-icon mb-3" style="font-size:0.7em;height: 12rem;">We are happy with the product and recommend this to all those having a big area. The Evapoler machine are easy to maintain, cost effective &amp; consume less electricity.<br>They have a strong after sales service policy and spare parts are available all-round the year.</blockquote>
<figure class="d-flex align-items-center m-0 p-0">
<img class="img-fluid rounded rounded-circle m-0 border border-5 w-25" loading="lazy" src="./assets/images/home/reviews/Brij-Group.webp" alt="Brij Group Review Logo">
<figcaption class="ms-3">
<h5 class="mb-1 h5">Brij Group</h5>
</figcaption>
</figure>
</div>
</div>
</ng-template>  
</owl-carousel-o>
</div>
</ng-template>
<ng-template #casestudiescallbackModal let-c="close" let-d="dismiss">
<div class="modal-body casestudiescallbackModal" style="background-color:#fff;border-radius: 0.5rem;">
<button type="button" class="close" aria-label="Close" (click)="casestudiesModalRefHideFun()">
<span aria-hidden="true">&times;</span>
</button>
<h3 class="text-center mb-4">Case Studies</h3>
<owl-carousel-o [options]="caseStudiesOptions">

<ng-template carouselSlide>
<div class="card">
<img src="./assets/images/home/casestudies/pg.jpg" class="card-img-top" alt="cooling systems case study image - P&G">
<div class="card-body">
<h5 class="card-title">P&G</h5>
<p class="card-text">
We Introduced An Innovative Indirect Evaporative Cooling (IEC) Module To Pre-cool The Fresh Air Before It Entered The Existing Air Handling Units (AHUs). The IEC Module Efficiently Pre-cooled The Incoming Fresh Air, Significantly Reducing The Load On The Existing Chillers
</p>
<a href="./assets/pdf/P&G Case Study.pdf" class="btn btn-link ps-0" target="_blank">Read More...</a>
</div>
</div>
</ng-template>  

<ng-template carouselSlide>
<div class="card">
<img src="./assets/images/home/casestudies/okaya.jpg" class="card-img-top" alt="cooling systems case study image - P&G">
<div class="card-body">
<h5 class="card-title">Okaya Fujikawa Power Pvt Ltd</h5>
<p class="card-text">

To address these issues, we proposed the installation of an Evapoler HCSUs, a high-performance evaporative air cooling system tailored for industrial applications. The unit was designed and installed to ensure optimal air circulation and temperature control in the affected area.


</p>
<a href="./assets/pdf/OKAYA FUJIKAWA POWER PVT. LTD.-2.pdf" class="btn btn-link ps-0" target="_blank">Read More...</a>
</div>
</div>
</ng-template>

<ng-template carouselSlide>
<div class="card">
<img src="./assets/images/home/casestudies/pgp.jpg" class="card-img-top" alt="cooling systems case study image - P&G">
<div class="card-body">
<h5 class="card-title">PGP Glass, Jambusar</h5>
<p class="card-text">

Evapoler introduced an Innovative Hybrid Air Conditioning System that effectively addressed PGP Glass's 
cooling challenges while reducing energy consumption. The hybrid system combined traditional cooling technology with 
evaporative cooling, delivering efficient cooling with reduced power usage.


</p>
<a href="./assets/pdf/PGP Glass, Jambusar.pdf" class="btn btn-link ps-0" target="_blank">Read More...</a>
</div>
</div>
</ng-template> 
 




<ng-template carouselSlide>
<div class="card">
<img src="./assets/images/home/casestudies/2.jpg" class="card-img-top" alt="cooling systems case study image - fackelmann jaipur">
<div class="card-body">
<h5 class="card-title">Fackelmann Jaipur</h5>
<p class="card-text">Increased productivity and Employee morale, thanks to highly sustainable and energy efficient Evaporative cooling Solutions by Evapoler</p>
<a href="https://www.evapoler.com/services/fackelmann-jaipur/" class="btn btn-link ps-0" target="_blank">Read More...</a>
</div>
</div>
</ng-template>  
<ng-template carouselSlide>
<div class="card">
<img src="./assets/images/home/casestudies/1.jpg" class="card-img-top" alt="cooling systems case study image - Gurgaon wing green farms">
<div class="card-body">
<h5 class="card-title">WING GREEN FARMS PVT LTD (GURGAON)</h5>
<p class="card-text">The production staff at Wingreens are happy with the natural air cooling solution provided by Evapoler.</p>
<a href="https://www.evapoler.com/services/wing-green-farms-pvt-ltd-gurgaon/" class="btn btn-link ps-0" target="_blank">Read More...</a>
</div>
</div>
</ng-template>  
<ng-template carouselSlide>
<div class="card">
<img src="./assets/images/home/casestudies/4.jpg" class="card-img-top" alt="cooling systems case study image - MSMSV school, Rajastan">
<div class="card-body">
<h5 class="card-title">MSMSV School</h5>
<p class="card-text">School Management is happy with well-designed evaporative cooling solution that not only helps to conquer the heat but also saves 80% on the electricity bills associated with typical air conditioning cooling.</p>
<a href="https://www.evapoler.com/services/msmsv-school/" class="btn btn-link ps-0" target="_blank">Read More...</a>
</div>
</div>
</ng-template>
<ng-template carouselSlide>
<div class="card">
<img src="./assets/images/home/casestudies/3.jpg" class="card-img-top" alt="cooling systems case study image - JBM Group Vithalapur">
<div class="card-body">
<h5 class="card-title">JBM Group, Vithalapur</h5>
<p class="card-text">JBM Group is delighted with the performance of the Evapoler HSCU Unit. Evapoler took up a challenging project and provided a smart, effective and affordable solutions.</p>
<a href="https://www.evapoler.com/services/jbm-group/" class="btn btn-link ps-0" target="_blank">Read More...</a>
</div>
</div>
</ng-template>  


</owl-carousel-o>
</div>
</ng-template>
<ng-template #onPageLoadImagecallbackModal let-c="close" let-d="dismiss">
<div class="modal-body onPageLoadImagecallbackModal p-0" style="background-color:#fff;border-radius: 0.5rem;">
<span aria-hidden="true" (click)="onPageLoadImageModalRefHideFun()" style="position: absolute;right: 10px;font-size: x-large;cursor:pointer">&times;</span>
<img src="./assets/images/home/popupbanner.webp" class="img-fluid" alt="" />
</div>
</ng-template>