<section class="about mt-4" data-aos="fade-up" style="min-height:300px;">
<div class="container" >
<div class="row my-5">
<div class="col-lg-12 text-center">
<img src="./assets/images/thinks-1.webp" class="mb-3" />
<h1 class="fs-1"><strong><span style="color:#57b952;">Thank</span> you!</strong></h1>
<p class="fs-3" style="color:grey;">
Thank you for contacting us. Our team will contact you as soon as possible to understand your cooling requirements.
</p>
</div>
</div>
</div>
</section>