<section class="about mt-4">
<div class="container" >
<div class="row">
<div class="col-lg-12 my-4 my-md-0">
<h3 class="mb-4"><strong>Privacy Policy</strong></h3>
<h6 class="fw-bold mb-1">Introduction:</h6>
<p class="mb-4">Welcome to Evapoler Eco Cooling Solution's Privacy Policy. Your privacy is crucial to us, and this policy outlines how we collect, use, and protect your data. Please carefully read this document before using our products and services.</p>
<h6 class="fw-bold mb-1">Definitions:</h6>
<ul class="mb-4">
<li>Cookies: Small files placed on your device by our platforms to remember your actions or preferences.</li>
<li>Data: Non-personal, personal, and sensitive information that can identify you, collected through our platforms.</li>
<li>Data Protection Laws: Applicable laws relating to data processing.</li>
<li>Partners: Third parties with whom we have contracts for specified business activities.</li>
<li>Service Providers: Entities processing data for specific purposes under written contract.</li>
<li>Evapoler Eco Cooling Solution: Refers to Symphony Limited, incorporated in India.</li>
</ul>
<h6 class="fw-bold mb-1">What Data Do We Collect About You:</h6>
<p class="mb-4">We collect various data categories, including contact information, technical information, transaction history, product and service details, personal information, and user opinions.</p>
<h6 class="fw-bold mb-1">How We Collect Data:</h6>
<ul class="mb-4">
<li>Information You Give Us: Provided by you during platform use, transactions, surveys, or when you subscribe to communications.</li>
<li>Automatic Information: Collected through cookies, pixels, and similar technologies during your platform interaction.</li>
<li>Email Communications: Confirmation of email interactions to enhance relevance.</li>
</ul>
<h6 class="fw-bold mb-1">Data Shared by You:</h6>
<p class="mb-4">Collected when you register, transact, complete surveys, subscribe to communications, or visit our website. If providing data on behalf of an entity, you must have the authority to do so.</p>
<h6 class="fw-bold mb-1">Data Collected Automatically:</h6>
<p class="mb-4">We collect information automatically, such as IP addresses, for site improvement, analytics, and security purposes.</p>
<h6 class="fw-bold mb-1">Our Use of Data:</h6>
<p class="mb-4">We use data to fulfill contractual obligations, provide products/services, offer personalized experiences, improve our business, and comply with legal requirements.</p>
<h6 class="fw-bold mb-1">Sharing of Data:</h6>
<p class="mb-4">We may share data with partners, service providers, for protection against harm, during business transfers, and when legally required.</p>
<h6 class="fw-bold mb-1">Keeping Data Secure:</h6>
<p class="mb-4">We employ technical and organizational measures to safeguard data. Notify us of any unauthorized access immediately.</p>
<h6 class="fw-bold mb-1">Retention of Data:</h6>
<p class="mb-4">Data is retained for platform use, legal compliance, dispute resolution, and other legitimate interests.</p>
<h6 class="fw-bold mb-1">Your Rights and Choices:</h6>
<p class="mb-4">You have the right to correction, deletion, and withdrawal of consent. Contact us for assistance.</p>
<h6 class="fw-bold mb-1">Where We Store Data:</h6>
<p class="mb-4">Data is hosted on secure servers with multiple encryption levels.</p>
<h6 class="fw-bold mb-1">Processing Your Data:</h6>
<p class="mb-1">Data is processed in compliance with applicable law and contractual agreements.
Cookies, Pixels, and Similar Technologies:</p>
<p class="mb-4">Our platforms use cookies and similar technologies. Adjust browser settings if you prefer not to receive them.</p>
<h6 class="fw-bold mb-1">Security:</h6>
<p class="mb-4">While we implement security measures, no internet site is entirely risk-free. Users are responsible for password confidentiality.</p>
<h6 class="fw-bold mb-1">Severability:</h6>
<p class="mb-4">If any part of this policy is deemed invalid, the remaining provisions remain in effect.</p>
<h6 class="fw-bold mb-1">Changes to This Policy:</h6>
<p class="mb-4">This policy is subject to change, and you are encouraged to check for updates regularly. Changes become effective upon accessibility.</p>
<h6 class="fw-bold mb-1">How to Contact Us:</h6>
<p class="mb-4">For inquiries, requests, or clarifications, email us at info@evapoler.com.</p>
</div>
</div>
</div>
</section>