/* width */
::ng-deep .modal ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::ng-deep .modal ::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::ng-deep .modal ::-webkit-scrollbar-thumb {
    background: #48afd8;
}

/* Handle on hover */
::ng-deep .modal ::-webkit-scrollbar-thumb:hover {
    background: #48afd8;
}

.requestcallbackModal.modal-body{
	overflow-y: auto;
	background-color: #fff;
}
::ng-deep .modal {
    z-index: 9999;
}

.close{
	float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
	padding: 0;
    background-color: transparent;
    border: 0;
}
.evapolar_color{
	color:#00bb5a;
}
.evapolar_bgcolor{
	background-color:#00bb5a;
}
.verticle_align_center{
	display:flex;
	align-items: center;
}


mat-form-field{
width:100%;
}


::ng-deep .enquiryForm .mdc-text-field--filled:not(.mdc-text-field--disabled) {
border-radius: 15px !important;
background-color: #083f83 !important;
border: 1px solid #fff !important;
}
::ng-deep .mat-mdc-form-field-subscript-wrapper {
width:inherit !important;
}
::ng-deep .mat-mdc-form-field-focus-overlay{
background-color:transparent !important;
}
::ng-deep .mat-mdc-form-field-bottom-align::before{
background-color:transparent !important;
}

::ng-deep .enquiryForm .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above{
color: #ababab !important;
}
::ng-deep .mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
border:none;
}
::ng-deep .mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::after{
border:none;
}
::ng-deep .enquiryForm .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input{
color: #fff !important;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input{
caret-color: #fff !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label{
color: #fff;
}
::ng-deep .mat-mdc-select{
color: #000 !important;
}
::ng-deep .mat-input-element{
color: #fff !important;
}
::ng-deep .mat-mdc-select-arrow {
color: #fff !important;
}
::ng-deep .mat-form-field{
font-family: Helvetica!important;
}
.bookfree_error{
	color:#fcc5f8;
}
::ng-deep  .mdc-line-ripple {
  display:none !important;
}
::ng-deep .enquiryForm .mat-mdc-select-min-line{
	color:#ababab !important;
}
::ng-deep .modal-content{
	font-family:helvetica !important;
}

.submitbtn{
	color: #1861a3;
    background-color: #fff;
    border-color: #fff;
	cursor: pointer;
}
@media (max-width: 768px) {
	#feedback {
		display:block;
		position:fixed;
		bottom:0px;
		left:5%!important;
		z-index:9999;
	}
}
@media (min-width: 768px) {
#feedback{
display:none;
}
}

