<header class="app-header sticky-top" id="app-header" style="box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;">
<nav class="navbar navbar-expand-lg navbar-right py-2 navbar-dark" style="background-color:#083f83;">
<div class="container-fluid">
<a class="navbar-brand py-0 ms-4" href="#"><img src="assets/images/logo/Evapolerlogogreen.png" class="logoimage " alt="Evapoler - Industrial Air Cooling Systems"></a>
<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"     
      data-target="#navbarItems" aria-controls="navbarItems"                
      aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed=!isCollapsed">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarItems" [collapse]="isCollapsed">
<ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-4" style="font-weight:500;">
<li class="nav-item">
<a class="nav-link fw-bold" aria-current="page" (click)="caseStudiesCallbackFun();isCollapsed=true" style="color:#fff;cursor:pointer;line-height: 3;">Case Studies</a>
</li>
<li class="nav-item">
<a class="nav-link fw-bold" aria-current="page" href="#products" (click)="isCollapsed=true" style="color:#fff;cursor:pointer;line-height: 3;">Products</a>
</li>
<li class="nav-item">
<a class="nav-link fw-bold" aria-current="page" href="#applications" (click)="isCollapsed=true" style="color:#fff;cursor:pointer;line-height: 3;">Applications</a>
</li>
<li class="nav-item">
<a class="nav-link fw-bold" aria-current="page" href="#reviews" (click)="isCollapsed=true" style="color:#fff;cursor:pointer;line-height: 3;">Reviews</a>
</li>
<li class="nav-item">
<a class="nav-link fw-bold" aria-current="page" href="#installations" (click)="isCollapsed=true" style="color:#fff;cursor:pointer;line-height: 3;">Installations</a>
</li>
</ul>
<input type="hidden" name="enquiry_now_hidden" id="enquiry_now_hidden"  value="no">
<button class="btn btn-white me-4 rounded-4 d-none d-md-block d-lg-block d-xl-block px-4" type="button" (click)="requestCallbackFun('enquiry_now')">Enquire Now</button>
</div>
</div>
</nav>
<!--<button class="btn btn-blue m-4 rounded-4 d-block d-sm-block d-md-none" type="button" (click)="requestCallbackFun()">Enquire Now</button>-->
</header>					
<div class="app-body">
<router-outlet></router-outlet>
</div>
<footer class="text-center text-lg-start text-white app-footer" style="background-color:#1861a3;">
<!-- Grid container -->
<div class="container p-4 pb-0">
<!-- Section: Links -->
<section class="">
<!--Grid row-->
<div class="row">
<!-- Grid column -->
<div class="col-md-6 col-lg-6 col-xl-6 mx-auto mt-3">
<h6 class="text-uppercase mb-4 font-weight-bold">
Evapoler Eco Cooling Solutions
</h6>
<p>
Evapoler is an innovative provider of eco-friendly, energy-efficient industrial and commercial cooling systems. Our dynamic and skilled team strives for excellence while delivering high-quality services.
</p>
</div>
<!-- Grid column -->

<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<div class="col-md-6 col-lg-6 col-xl-6 mx-auto mt-3">
<p><i class="fa fa-home mr-3"></i> G1 – 11, V.K.I.A. Extn, Badharna, Jaipur 302013 (Raj)</p>
<p><i class="fa fa-envelope mr-3"></i> info@evapoler.com</p>

<p class="text-end">

<!-- Facebook -->
<a
class="btn text-dark btn-floating m-1"
style="background-color: #fff;" target="_blank"
href="https://www.facebook.com/EvapolerEcoCoolingSolutions/"
role="button"
><i class="fa fa-facebook-f"></i
></a>

<!-- Twitter -->
<a
class="btn text-dark btn-floating m-1"
style="background-color: #fff;" target="_blank"
href="https://www.linkedin.com/company/evapoler-eco-cooling-solutions"
role="button"
><i class="fa fa-linkedin"></i
></a>

<!-- Google -->
<a
class="btn text-dark btn-floating m-1"
style="background-color: #fff;" target="_blank"
href="https://www.youtube.com/channel/UCJB_IKOayA-4DTmnaD51PmQ"
role="button"
><i class="fa fa-youtube"></i
></a>

<!-- Instagram -->
<a
class="btn text-dark btn-floating m-1"
style="background-color: #fff;" target="_blank"
href="https://www.instagram.com/evapolerecocooling/"
role="button"
><i class="fa fa-instagram"></i
></a>
</p>


</div>
<!-- Grid column -->
</div>
<!--Grid row-->
</section>
<!-- Section: Links -->

<hr class="my-3">

<!-- Section: Copyright -->
<section class="p-0 pt-0">
<div class="row d-flex align-items-center">
<!-- Grid column -->
<div class="col-md-4 col-lg-5 text-center text-md-start">
<!-- Copyright -->
<div class="p-3">
© Copyright 2023, All Rights Reserved
</div>
<!-- Copyright -->
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-8 col-lg-7 ml-lg-0 text-center text-md-end">

<a
class="m-1 mx-3 text-white"
href="https://www.evapoler.com/become-a-channel-partner/" target="_blank"
>Become a Channel Partner</a>


<!-- Facebook -->
<a
class="m-1 text-white"
[routerLink]="['/privacy-policy']"
>Privacy Policy</a>

<!-- Twitter -->

</div>
<!-- Grid column -->
</div>
</section>
<!-- Section: Copyright -->
</div>
<!-- Grid container -->
</footer>
<!-- Footer -->
<div id="feedback" class="mobileShow">
  <a (click)="requestCallbackFun('get_a_quote')" target="_blank" class="btn btn-blue w-100 mb-3 text-white" style="background-color:#00b000;border-color:#00b000;">Get a Quote</a>
</div>
<ng-template #requestcallbackModal let-c="close" let-d="dismiss">
<div class="modal-body requestcallbackModal" style="background-color:#083f83;border-radius: 0.5rem;">
<button type="button" class="close text-white" aria-label="Close" (click)="requestcallbackModalRefHideFun()" style="opacity:1;">
<span aria-hidden="true">&times;</span>
</button>
<h3 class="text-center mb-1 text-white">Enquiry Form</h3>
<p class="text-center d-block text-dark fs-6 mb-4 text-white">Pan India Installation & Service</p>


<div [formGroup]="requestcallbackForm" class="mb-2 enquiryForm">
<div class="row mb-lg-2 mb-0" [ngClass]="((requestcallbackForm.get('mobile_number')?.touched) && (requestcallbackForm.get('mobile_number')?.hasError('required') || (requestcallbackForm.get('mobile_number')?.errors?.['CHECK_DIGIT_FAILED']==true || requestcallbackForm.get('mobile_number')?.errors?.['CHECK_MOBILE_FAILED']==true || requestcallbackForm.get('mobile_number')?.hasError('minlength') || requestcallbackForm.get('mobile_number')?.hasError('maxlength') ))) ? 'mb-4':''">
<div class="col-md-4 col-xl-4 col-sm-12 offset-md-2 offset-xl-2">
<mat-form-field appearance="fill">
<mat-label>Name</mat-label>
<input matInput placeholder="" formControlName="name">
<mat-error
*ngIf="requestcallbackForm.get('name')!.hasError('required')" class="bookfree_error">Please enter a name</mat-error>
</mat-form-field>
</div>
<div class="col-md-4 col-xl-4 col-sm-12">
<mat-form-field appearance="fill">
<mat-label>Mobile Number</mat-label>
<input matInput placeholder="" formControlName="mobile_number" maxlength="10">
<mat-error *ngIf="requestcallbackForm.get('mobile_number')?.hasError('required') || (requestcallbackForm.get('mobile_number')?.errors?.['CHECK_DIGIT_FAILED']==true || requestcallbackForm.get('mobile_number')?.errors?.['CHECK_MOBILE_FAILED']==true || requestcallbackForm.get('mobile_number')?.hasError('minlength') || requestcallbackForm.get('mobile_number')?.hasError('maxlength') )" class="bookfree_error">Please enter valid 10 digit number starting with 5,6,7,8 or 9</mat-error>
</mat-form-field>
</div>
</div>
<div class="row mb-lg-2 mb-0">
<div class="col-md-4 col-xl-4 col-sm-12 offset-md-2 offset-xl-2">
<mat-form-field appearance="fill">
<mat-label>Email ID</mat-label>
<input type="email" matInput formControlName="emailId" placeholder="">
<mat-error *ngIf="requestcallbackForm.get('emailId')?.hasError('required')" class="bookfree_error">Email address is required</mat-error>
<mat-error *ngIf="requestcallbackForm.get('emailId')?.hasError('pattern')" class="bookfree_error">Please enter a valid email address</mat-error>
</mat-form-field>
</div>
<div class="col-md-4 col-xl-4 col-sm-12">
<mat-form-field appearance="fill">
<mat-label>Company Name</mat-label>
<input matInput placeholder="" formControlName="company_name">
<mat-error
*ngIf="requestcallbackForm.get('company_name')!.hasError('required')" class="bookfree_error">Please enter the company name</mat-error>
</mat-form-field>
</div>
</div>
<div class="row mb-lg-2 mb-0">
<div class="col-md-4 col-xl-4 col-sm-12 offset-md-2 offset-xl-2">
<mat-form-field appearance="fill">
<mat-label>Application</mat-label>
<mat-select formControlName="application">
<mat-option value="">Application*</mat-option>
<mat-option value="Manufacturing Facility">Manufacturing Facility</mat-option>
<mat-option value="Industry">Industry</mat-option>
<mat-option value="Factory">Factory</mat-option>
<mat-option value="Warehouse">Warehouse</mat-option>
<mat-option value="Educational Institutes">Educational Institutes</mat-option>
<mat-option value="Commercial Kitchens">Commercial Kitchens</mat-option>
<mat-option value="Electric Panel Rooms">Electric Panel Rooms</mat-option>
<mat-option value="Army Barracks">Army Barracks</mat-option>
<mat-option value="Hospitals">Hospitals</mat-option>
<mat-option value="Others">Others</mat-option>
</mat-select>
<mat-error *ngIf="requestcallbackForm.get('application')!.hasError('required')" class="bookfree_error">Please select an application</mat-error>
</mat-form-field>
</div>
<div class="col-md-4 col-xl-4 col-sm-12">
<mat-form-field appearance="fill">
<mat-label>City</mat-label>
<input matInput placeholder="" formControlName="city">
<mat-error *ngIf="requestcallbackForm.get('city')!.hasError('required')" class="bookfree_error">Enter Your City Name</mat-error>
</mat-form-field>
</div>
</div>
<div class="row mb-lg-2 mb-0">
<div class="col-md-8 col-xl-8 col-sm-12 offset-md-2 offset-xl-2">
<mat-form-field appearance="fill">
<mat-label>Message (optional)</mat-label>
<textarea matInput placeholder="" formControlName="message" rows="1"></textarea>
</mat-form-field>
</div>
</div>
<div class="row">
<div class="col-md-8 col-xl-8 col-sm-12 offset-md-2 offset-xl-2">
<button type="button" class="px-5 btn btn-white rounded-5 d-block mx-auto fw-bold btn-lg submitbtn"  (click)="submitBookingFun(flag)" [disabled]="requestcallbackForm['invalid']"
><span [innerHTML]="Submit_enquiry_now"></span></button>
</div>
</div>
</div>
</div>
</ng-template>
<ng-template #casestudiescallbackModal let-c="close" let-d="dismiss">
<div class="modal-body casestudiescallbackModal" style="background-color:#fff;border-radius: 0.5rem;">
<button type="button" class="close" aria-label="Close" (click)="casestudiesModalRefHideFun()">
<span aria-hidden="true">&times;</span>
</button>
<h3 class="text-center mb-4">Case Studies</h3>
<owl-carousel-o [options]="caseStudiesOptions">
<ng-template carouselSlide>
<div class="card">
<img src="./assets/images/home/casestudies/pg.jpg" class="card-img-top" alt="cooling systems case study image - P&G">
<div class="card-body">
<h5 class="card-title">P&G</h5>
<p class="card-text">
We Introduced An Innovative Indirect Evaporative Cooling (IEC) Module To Pre-cool The Fresh Air Before It Entered The Existing Air Handling Units (AHUs). The IEC Module Efficiently Pre-cooled The Incoming Fresh Air, Significantly Reducing The Load On The Existing Chillers
</p>
<a href="./assets/pdf/P&G Case Study.pdf" class="btn btn-link ps-0" target="_blank">Read More...</a>
</div>
</div>
</ng-template>  


<ng-template carouselSlide>
<div class="card">
<img src="./assets/images/home/casestudies/okaya.jpg" class="card-img-top" alt="cooling systems case study image - P&G">
<div class="card-body">
<h5 class="card-title">Okaya Fujikawa Power Pvt Ltd</h5>
<p class="card-text">

To address these issues, we proposed the installation of an Evapoler HCSUs, a high-performance evaporative air cooling system tailored for industrial applications. The unit was designed and installed to ensure optimal air circulation and temperature control in the affected area.


</p>
<a href="./assets/pdf/OKAYA FUJIKAWA POWER PVT. LTD.-2.pdf" class="btn btn-link ps-0" target="_blank">Read More...</a>
</div>
</div>
</ng-template> 

<ng-template carouselSlide>
<div class="card">
<img src="./assets/images/home/casestudies/pgp.jpg" class="card-img-top" alt="cooling systems case study image - P&G">
<div class="card-body">
<h5 class="card-title">PGP Glass, Jambusar</h5>
<p class="card-text">

Evapoler introduced an Innovative Hybrid Air Conditioning System that effectively addressed PGP Glass's 
cooling challenges while reducing energy consumption. The hybrid system combined traditional cooling technology with 
evaporative cooling, delivering efficient cooling with reduced power usage.


</p>
<a href="./assets/pdf/PGP Glass, Jambusar.pdf" class="btn btn-link ps-0" target="_blank">Read More...</a>
</div>
</div>
</ng-template> 



<ng-template carouselSlide>
<div class="card">
<img src="./assets/images/home/casestudies/2.jpg" class="card-img-top" alt="cooling systems case study image - fackelmann jaipur">
<div class="card-body">
<h5 class="card-title">Fackelmann Jaipur</h5>
<p class="card-text">Increased productivity and Employee morale, thanks to highly sustainable and energy efficient Evaporative cooling Solutions by Evapoler</p>
<a href="https://www.evapoler.com/services/fackelmann-jaipur/" class="btn btn-link ps-0" target="_blank">Read More...</a>
</div>
</div>
</ng-template>  
<ng-template carouselSlide>
<div class="card">
<img src="./assets/images/home/casestudies/1.jpg" class="card-img-top" alt="cooling systems case study image - Gurgaon wing green farms">
<div class="card-body">
<h5 class="card-title">Wing Green Farms Pvt Ltd (Gurgaon)</h5>
<p class="card-text">The production staff at Wingreens are happy with the natural air cooling solution provided by Evapoler.</p>
<a href="https://www.evapoler.com/services/wing-green-farms-pvt-ltd-gurgaon/" class="btn btn-link ps-0" target="_blank">Read More...</a>
</div>
</div>
</ng-template>  
<ng-template carouselSlide>
<div class="card">
<img src="./assets/images/home/casestudies/4.jpg" class="card-img-top" alt="cooling systems case study image - MSMSV school, Rajastan">
<div class="card-body">
<h5 class="card-title">MSMSV School</h5>
<p class="card-text">Read how Evapoler helped the School Management to conquer the heat & save 80% on the electricity bills linked with typical air conditioning cooling.</p>
<a href="https://www.evapoler.com/services/msmsv-school/" class="btn btn-link ps-0" target="_blank">Read More...</a>
</div>
</div>
</ng-template>
<ng-template carouselSlide>
<div class="card">
<img src="./assets/images/home/casestudies/3.jpg" class="card-img-top" alt="cooling systems case study image - JBM Group Vithalapur">
<div class="card-body">
<h5 class="card-title">JBM Group, Vithalapur</h5>
<p class="card-text">JBM Group is delighted with the performance of the Evapoler HSCU Unit. Evapoler took up a challenging project and provided a smart, effective and affordable solutions.</p>
<a href="https://www.evapoler.com/services/jbm-group/" class="btn btn-link ps-0" target="_blank">Read More...</a>
</div>
</div>
</ng-template> 




 
</owl-carousel-o>
</div>
</ng-template>