@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css";
@import "../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css";
body{
font-family: DM Sans,sans-serif!important;
}
.btn-blue {
color: #fff;
background-color: #1861a3;
border-color: #1861a3;
}
.btn-blue:hover {
color: #fff;
background-color: #1861a3;
border-color: #1861a3;
}
.btn-blue:focus {
color: #fff;
background-color: #1861a3;
border-color: #1861a3;
}
.btn-blue:active {
color: #fff !important;
background-color: #1861a3 !important;
border-color: #1861a3 !important;
}
.btn-white {
color: #1861a3;
background-color: #fff;
border-color: #fff;
}
.btn-white:hover {
color: #1861a3;
background-color: #fff;
border-color: #fff;
}
.btn-white:focus {
color: #1861a3;
background-color: #fff;
border-color: #fff;
}
.btn-white:active {
color: #1861a3 !important;
background-color: #fff !important;
border-color: #fff !important;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
z-index: 10000 !important;
}